[2022-04-15 07:00] antymon4o commented on #1418
We are experiencing the same issue of crashing the process (w3wp) due to exception in Microsoft.Data.SqlClient.SNI. We use Microsoft.Data.SqlClient (4.1) and Microsoft.Data.SqlClient.SNI (4.0). The OS is Windows Server 2016 and Framework is 4.7.2.
This is the info from dumpproc

This issue has become very critical as it is happening in production environment and we had to rollback the deployment.

[2022-04-19 16:03] JRahnama commented on #1570
Closing the issue due to inactivity.

[2022-04-19 16:03] #1570 closed

[2022-04-20 11:37] dantheman999301 commented on #1530
@oyvost In the issue we are facing we can see that the connection is not even made to SQL Server so it's not a throttling issue or similar.

For example, we had an error about 20 minutes ago and it was utilising 4% of the available DTUs.

@JRahnama just to get back to you, the logs we thought we had turned out not to be any good, there was a lot of duplication due to the way we wrote the Event Lis

[2022-04-20 19:17] Wraith2 commented on #1554
A thought. We could add the feature and just turn it off if the connection is mars enabled. Users will get what they pay for, either they get perf or mars, it's already the case that you can't have both.

[2022-04-20 21:49] roji commented on #1554
Nice idea - it's certainly better than not doing it at all...

[2022-04-22 13:04] jzabroski commented on #727
What does SNI stand for ? Can probably put together several repros if I understand what's special about this dll

[2022-04-22 15:22] jzabroski commented on #727
To elaborate, https://github.com/dotnet/SqlClient/labels does not even have a description for "Native SNI"

It looks like this document explains it: https://docs.microsoft.com/en-us/sql/connect/ado-net/sqlclient-troubleshooting-guide?view=sql-server-ver15

[2022-04-25 22:37] MichaelAzzer opened #1591 "Retry not working with SqlDataAdapter.Fill(table) (.net framework)"
When use retry with command and execute command with DataReader
like
[code]
it's working
but if I used SqlDataAdapter to fill table it's not working

[2022-04-26 12:00] MUhammadasadnazar commented on #633
Hi dear  , i am facing same issue in .Net Maui project can you please help me ,  I am Stuck from the last Two Days .

[2022-04-26 19:58] JRahnama commented on #1591
@MichaelAzzer we will look at it and will get back to you.

[2022-04-26 21:16] cmeyertons opened #1594 "MDS 4.0+ Fails in .NET 4.8 when using AG (FailoverPartner)"
### Describe the bug
A clear and concise description of what the bug is.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

It looks like we are checking for existence of the FailoverPartner keyword by trying to access a dictionary and seeing if it returns null [here](https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/sr

[2022-04-26 23:33] lcheunglci commented on #1591
Hi, is there a sample project that I can use to reproduce this?

[2022-04-26 23:38] lcheunglci commented on #1594
Hi @cmeyertons, I'll take a look since I did merge to this file into the share src codebase.

[2022-04-27 00:30] JRahnama commented on #1594
@cmeyertons where did you provide the failover partner?

[2022-04-27 12:15] cmeyertons commented on #1594
We are not providing the failover partner in our connection string, just the Data Source and Initial Catalog.

Our data source is the the direct server name, not AG listener, due to some quirks in how our setup is used.  Our DBA has said this should be fine, and it is fine in our code base using System.Data.SqlClient -- this behavior only crops up in MDS.

[2022-04-27 14:14] MichaelAzzer commented on #1591
Yes, I prepared a simple sample to produce the problem

this zipped file contains WinForms sample with database script.sql
[sample.zip](https://github.com/dotnet/SqlClient/files/8572773/sample.zip)

[2022-04-27 14:54] cmeyertons commented on #1594
@lcheunglci  @JRahnama well I discovered a very hack-y workaround...

[code]

[2022-04-27 16:25] lcheunglci commented on #1591
Thanks @MichaelAzzer , I was able to reproduce it locally with your sample project.  I'll take a look and debug it.

[2022-04-27 16:47] MichaelAzzer commented on #1591
It's nice to hear that, thank you very much for your time

[2022-04-27 18:02] lcheunglci commented on #1591
Hi @MichaelAzzer , I noticed that the exception being thrown is a timeout exception:
[code]
I change the `command.CommandTimeout = 1;` to `command.CommandTimeout = 5;` and it worked.  I also tried the "working" version with `SqlDataReader` and it also threw the same timeout exception until I changed the command timeout.

Can you try changing the command timeout to a longer duration and try again a

[2022-04-27 18:50] MichaelAzzer commented on #1591
Yes, you're right
I decreased command timeout intentionally to test retry but when timeout elapsed exception occurs and retry didn't work also command_Retry event didn't trigger
[code]

[2022-04-27 19:00] JRahnama commented on #1594
@cmeyertons, glad to hear you have a workaround.

[2022-04-27 19:36] lcheunglci commented on #1591
Thanks for the clarification.  I understand the issue now i.e. it's not triggering the retry callback from the `SqlCommand.RetryLogicProvider` from `SqlDataAdapter` where as `SqlDataReader` does trigger the retry callback.  I see that `SqlDataAdapter` inherits from `DbDataAdapter` which is where the `Fill` logic is implemented from the `System.Data.Common` namespace which I don't see source code f

[2022-04-27 22:44] lcheunglci commented on #1591
After reading the implementation of [SqlCommand.ExecuteReader()](https://github.com/dotnet/SqlClient/blob/a6625b3a94ca2ffaec7e1baac2ef7f2e2402669b/src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlCommand.cs#L2411), I see that there's logic that checks if a RetryLogicProvider is provided in the SqlCommand and if so, the SqlReader returned is wrapped with RetryLogicProvider; howeve

[2022-04-27 22:53] MichaelAzzer commented on #1591
I appreciate this hard work, and I want to thank 😊 you very much

[2022-04-27 23:17] lcheunglci commented on #1591
After checking in with @DavoudEshtehari , he mentioned that the implementation was there since the repo was created, and the reason why we had to [new/hide inheritance](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/new-modifier) was because ExecuteReader in DbCommand was not `virtual` and therefore we cannot override it.  Unfortunately, SqlDataAdapter won't be able to

[2022-04-28 07:48] roji commented on #1591
Note that ExecuteReader in DbCommand (and implements the IDbCommand.ExecuteReader discussed above) [simply calls ExecuteDbDataReader](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Data.Common/src/System/Data/Common/DbCommand.cs#L111), which is itself abstract. In other words, IDbCommand.ExecuteReader should indeed return an instance of SqlDataReader.

(Providers are expected to

[2022-04-28 12:04] MichaelAzzer commented on #1591
Is this behavior in .net framework only or in both .net framework and .net core?

[2022-04-28 16:38] lcheunglci commented on #1591
For your first question, since this behaviour was identified in your sample project, which is a .NET Framework 4.8 WinForms desktop application and the source code that I was referenced was from .NET Core 3.1 repo, I think the behaviour is consistent for both .NET Core and .NET Framework.  As for you second question, here's my assumption and it does not reflect the actual decision on whether it'll

[2022-04-28 20:25] JRahnama commented on #1591
@David-Engel Can you please check this?

[2022-04-29 15:03] alphaleonis commented on #1418
Or any other application using SqlClient from multiple AppDomains actually.

[2022-04-29 15:57] andrei-faber commented on #1408
@DigiBanks99 in my particular case, it was necessary to execute this setup command to allow it access a storage account that the query relied upon:
[code]

[2022-04-29 16:01] #1408 closed

[2022-04-30 00:06] lcheunglci commented on #1418
I would like to try to debug this issue, I saw earlier in https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1048797682 with the repro steps as a console application, and saw the following exception without using the [Serializable] attribute and I get the following exception
[code]
I assume the reason for not using `[Seriablizable]` as mentioned in https://github.com/dotnet/SqlClient/iss

[2022-04-30 17:03] AraHaan commented on #1490
@JRahnama there is a way to do that, have in the nuget package to SqlClient to:
- Add build/<package name>.props
  - add the native nuget package depending on the value of ``$(RuntimeIdentifier)``.

Then on restore on the user the nuget package would add the reference to the native dependency that they need to their project for the.

[2022-05-02 13:42] janseris opened #1600 "MAUI Android TypeLoadException for first DB call"
Hi,
I have been linked to post here from MAUI so I am posting:

Edit: added updated sample project - tested with official MAUI GA version 24/5/2022:
[MauiApp1.zip](https://github.com/dotnet/SqlClient/files/8765580/MauiApp1.zip)

https://github.com/dotnet/maui/issues/6607

When a database is called (and probably happens because the code is in a different project - Data Access Layer) project,
first

[2022-05-02 14:12] roji commented on #1600
Moving to the SqlClient reop as it seems to be a trimming-related issue there.

[2022-05-02 14:15] janseris commented on #1600
Thanks for a quick reply. Can this be avoided when not trimming the app? I think I am not trimming it.

[2022-05-02 14:22] roji commented on #1600
I am not sure, but it may be that trimming is on in Release but not in Debug, explaining why this is work in the latter but not in the former.

[2022-05-02 14:40] janseris commented on #1600
@roji actually I have trimming off for Release because if trimming is on, the application crashes.

[2022-05-02 14:45] roji commented on #1600
OK, it could be a non-trimming issue as well...

[2022-05-02 19:15] JRahnama commented on #1600
@roji thanks for transferring this.

@janseris we will look back to this soon.

[2022-05-02 21:40] AraHaan opened #1601 "Update Azure.Identity to 1.6.0."
Azure.Identity's latest version is 1.6.0 but there is plans for some work for it to remove some more dependencies with it adding an .NET 6 TFM for it so it can require less packages which would be great for everyone using SqlClient directly or indirectly from efcore.

[2022-05-02 21:49] AraHaan commented on #1108
I think I might see if I can make a local clone of sqlclient and see what I can do to open an pr to move all azure dependencies into their own package where one must append ``.Azure`` to the end of the SqlClient package name to get them (where the Azure version references the normal sqlclient package so you can use the normal one as well as a convenience.

[2022-05-03 15:27] deeprobin opened #1602 "[API Proposal]: Use `TimeSpan` everywhere we use an int for seconds, milliseconds and timeouts"
I extracted this proposal from https://github.com/dotnet/runtime/issues/67156:

[code]

[2022-05-03 15:33] ErikEJ commented on #1602
CommandTimeout ?

[2022-05-03 15:41] deeprobin commented on #1602
@ErikEJ Thats described in the runtime issue because thats part of `System.Data.Common` iirc

[2022-05-03 16:10] deeprobin commented on #1602
@ErikEJ Thanks.

I saw this is a [duplicate](https://github.com/dotnet/SqlClient/issues/1156).

/cc @Wraith2

[2022-05-03 16:10] #1602 closed

[2022-05-03 16:29] AraHaan commented on #1108
Bad news, the Azure Enclave Provider is used in EnclaveDelegate.Crypto.cs which I do not know for sure if that file is only for Azure or not. This has made it a lot harder to separate it.

[2022-05-03 16:48] AraHaan commented on #1108
It looks like Azure cannot be split because it's to far engraved into the dependencies of basically everything.

[2022-05-03 16:49] ErikEJ commented on #1156
SqlConnectionStringBuilder.CommandTimeout ?

[2022-05-03 17:11] Wraith2 commented on #1602
I don't even remember opening the other one, and as you'll see the 4.0.0 milestone came and went with it untouched. :(

[2022-05-03 18:37] lcheunglci commented on #1418
I tested version MDS `2.1.1` mentioned https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1073870569 and it also ran into the same crash with the repro sample code mentioned https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1048797682 however, I even tried the latest version of `System.Data.SqlClient` i.e. `4.8.3` and since `Multiple Active Result Sets` and `Multi Subnet Failo

[2022-05-03 21:04] Kaur-Parminder commented on #1600
@janseris What is the target framework of Data Access Layer Project? How are you invoking DAL?
if you can just provide an app with single DB call, I will have idea of your project setup and I can try to reproduce the issue.

[2022-05-03 21:47] JasonAtATL commented on #1418
@lcheunglci Thank you for investigating this.

FWIW, we aren't using MARS or MSF and we're experiencing this crash. We're currently running MDS 3.1 in production.

[2022-05-04 08:56] m-gallesio commented on #1108
I tried taking a quick look at this and `AzureAttestationEnclaveProvider.cs` despite its name does not seem to explicitly reference Azure packages.
As I noted before it does require several `Microsoft.IdentityModel` packages, though.

[2022-05-04 09:07] JRahnama commented on #1601
@AraHaan  This is in our radar. We have recently updated the version, but the latest version will be used when Net6 support is added.

[2022-05-04 11:26] janseris commented on #1600
@Kaur-Parminder

I have created a sample app and found the following:

The `System.TypeLoadException Could not load type of field 'Microsoft.Data.SqlClient.SqlQueryMetadataCache` exception occurs no matter if the code is called directly from Data Access Layer or from the current project.

[2022-05-04 13:35] AraHaan commented on #1601
So I can basically add it in my PR that basically removes the needless dependencies.

Speaking of that PR, VS seems to be having issues with it as well for some reason.

[2022-05-04 13:37] AraHaan commented on #1108
Yeah, I tried to split that into ``Microsoft.Data.SqlClient.Azure`` so the ``IdentityModel`` packages would move to that project (and package)

[2022-05-04 13:41] AraHaan commented on #1108
Alternatively I could rig it up to where it could look for enclaves providers registered with DependencyInjection however that would add another dependency and obtain the enclaves providers registered there everywhere they are needed (however I already use Dependency Injection significantly so it does not bother me). However it would bother someone who is not using Dependency Injection but is usin

[2022-05-04 20:49] lcheunglci commented on #1591
We found that the `DataAdapter` has [Fill](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dataadapter.fill?view=net-6.0) an overload that takes in a `SqlDataReader`/`IDataReader`; however, it is not `public` i.e. `protected virtual` and `DbDataAdapter` does not make it public.  I did a test and verified that by using the base version of `Fill` with the `SqlDataReader` works with th

[2022-05-05 06:44] tomtom1992 commented on #898
I am receiving the same issue on SQL Server 2016 since end of April. What is the SQLError Code to use in the retry logic in the code? Error 19 it says in the exception, but this is not the internal error code correct?

[2022-05-05 18:14] JRahnama commented on #898
@eolamisan can you provide a minimal sample repro that could reproduce the issue?  That will narrow down the issue and will make the investigation possible.

[2022-05-05 18:16] JRahnama commented on #898
@tomtom1992 if there is no inner exception with a different number, 19 would be the error number.

[2022-05-05 19:23] eolamisan commented on #898
Sorry, I don't have a minimal sample to reproduce the issue.

[2022-05-05 21:19] jzabroski commented on #1263
@cheenamalhotra Any update here?  There's a repro available and [the recommended workaround seems to be to disable encryption](https://github.com/dotnet/SqlClient/issues/1263#issuecomment-926157580), which seems unacceptable for some customers?

[2022-05-05 23:01] Wraith2 commented on #1263
The netfx implementation requires an unmanaged component to implement network connectivity. That implementaion is closed source non-portable and not provided for non-windows platforms. In the cases above people are restoring the netfx implementation and trying to use it on linux and that won't work. If you want to run the code on linux you need to use the correct platform implementation assembly.

[2022-05-06 15:46] JRahnama commented on #1535
@Nico-VanHaaster two questions to narrow down the issue:

1. how is the SSL/TLS certificate setup is it SNI or IP based SSL?
2. Is there any IPV preference setup ( such as IPV6 or IPV4 as a preferred one)?

[2022-05-06 15:53] roji commented on #1591
I haven't been following this in detail, but FWIW hiding base methods - so as to return the more specific provider type - is a pretty standard part of how the ADO.NET API is designed: it allows for a form of covariance.

For example, DbCommand has a protected abstract [ExecuteDbDataReader](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbcommand.executedbdatareader?view=net-6.0) me

[2022-05-06 20:25] Nico-VanHaaster commented on #1535
@JRahnama

These are private endpoints to Azure Sql Databases. We don't manage the certificates, SNI etc as it's an Azure PaaS services

It is very easy to duplicate the issue following my OP.

[2022-05-08 18:00] ssg commented on #1549
No, I haven't tried it yet. Will let you know if I can repro it on a newer version. Thank you.

[2022-05-09 15:50] HamsterExAstris commented on #1418
Here's a console-based repro. (Sorry it's not quite as minimal as the ones above.) No MARS or MSF in use. It works with MDS v2.1.1 and v3.1, and in v4.1 with only one AppDomain, but bombs on v4.1 with two AppDomains.

[SqlClientCrashTest.zip](https://github.com/dotnet/SqlClient/files/8653229/SqlClientCrashTest.zip)

[2022-05-09 16:13] lcheunglci commented on #1418
Thanks @HamsterExAstris for providing the repro sample.  I was able able to reproduce what you mentioned with it and I'll debug and diff the changes between v`3.1` and v`4.1` and see if I could figure out what changes caused it to break in `4.1`.

[2022-05-09 16:56] Kaur-Parminder commented on #1600
@janseris I tried out your Repro. I had to add `clr-namespace:Microsoft.AspNetCore.Components.WebView.Maui;assembly=Microsoft.AspNetCore.Components.WebView.Maui` to MainPage.xaml to get it working.

I can see the errors as shown in image on subsequent attempts, I am testing on emulator. It is using Android Internet, I can see manifest file already have the Internet permissions.

`<uses-permission

[2022-05-11 06:36] equist commented on #1562
When switching to Linux App Service the problems disappeared. We haven't tested the downscaled example used in this issue, but the full application is scaling very well on Linux.

[2022-05-12 19:44] IgorWolbers commented on #446
@ristogod - this is exactly what we are facing. Our production env. is being hosted on a network share and we cannot figure out why the file can't be loaded. This is the first time this has happened with this application and only because we are migrating to EF Core which requires the use of `Microsoft.Data.SqlClient` which depends in turn on `Microsoft.Data.SqlClient.SNI.XXX`....

[2022-05-12 20:56] ristogod commented on #446
So the way we resolved this was to set IIS to a local folder and then use symbolic links to the code on the network drive. This seemed to work. So now we can deploy to a single code location, yet run multiple hosted instances of it on separate machines.

We only thought of this solution today and tested just within the last few hours. So good timing.

[2022-05-12 21:15] JRahnama commented on #1601
we will do some testing and if everything works as expected we will upgrade the version in our next preview release.

[2022-05-12 21:32] AraHaan commented on #1601
I experimented with it in my pr to remove some dependencies and it compiles fine with the updated packages. I even pushed them to that PR as well.

[2022-05-12 21:37] JRahnama commented on #1601
Can you make a separate PR for that. We try to avoid multiple changes in one PR to make it easier to find the source any regression? or we can do it.

[2022-05-12 21:51] lcheunglci commented on #1601
@AraHaan already has PR #1536 opened for the Azure Identity upgrade, so I closed my PR opened earlier.

[2022-05-12 22:09] AraHaan commented on #1601
I commented on your PR. #1536 had to have the dependency updates temporarily in order to get my local build to pass.

However the updates could be moved from #1536 as they can also be used by all the other TFMs.

[2022-05-12 22:34] AraHaan opened #1612 "Fix potential security vulnerabilities."
### Describe the bug
In my pr #1536 I have discovered that a few obsolete apis are used which in .NET Core is ignored which can result in some security vulnerabilities.

Of which include:
- the usage of WebClient, WebRequest, etc that were obsoleted for HttpClient.
- CER
- CAS

### To reproduce

Currently the PR #1536 shows that to reproduce it, all you have to do is add ``net5.0`` or ``net6.0`` a

[2022-05-13 13:49] pengweiqhca opened #1613 "System.Collections.Generic.KeyNotFoundException"
https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionPoolGroupProviderInfo.cs#L107
[code]

[2022-05-13 14:00] pengweiqhca commented on #1613
`data source=172.17.12.70;initial catalog=BetaUserConfig_DB;user id=BetaUserConfig_DB_Admin;password=xxxxx;TrustServerCertificate=true;`

[2022-05-13 15:54] lcheunglci commented on #1613
That looks like a valid connection string, and I tried a similar connection string and it ran through successfully without an issue. However, the code indicated where the exception was thrown shows that `FailOverPartner` key doesn't exist in the SqlConnectionString, which sounds similar to this https://github.com/dotnet/SqlClient/issues/1594 issue where by setting the FailoverPartner to an empty s

[2022-05-13 19:49] JRahnama commented on #1612
@AraHaan are we talking about obsolete methods in net6? We know there are couple of them inside the driver, but since netcoreapp3.1 is still supported we cannot take them out or replace them. some of the replacements are not supported in the mentioned TFM.

[2022-05-13 19:57] JRahnama commented on #1613
@pengweiqhca what version of SqlClient are you using?

[2022-05-13 20:03] AraHaan commented on #1612
In the PR I mentioned, I do currently special case .NET Core 3.1 (for now), however I do not know for sure if it uses an empty implementation for CAS and CER or if it uses the one from the .NET Framework in .NET Core 3.1.

[2022-05-14 00:39] pengweiqhca commented on #1613
4.1.0

[2022-05-17 10:47] Cephei commented on #1562
My company is seeing issues with this as well. I've tried everything I could in modifying the connection string and priming the pool on startup.

`{address};Database={db};Trusted_Connection=True;MultipleActiveResultSets=true;Min Pool Size=100;Max Pool Size=300;Pooling=true;`

<img width="495" alt="screenshot" src="https://user-images.githubusercontent.com/1054639/168793648-da5e5e00-ae8a-41c6-bfd6-

[2022-05-18 04:59] bingAgility commented on #1523
I am also facing this issue, below is the code where I am using the "System.Data.SqlClient" package with Version=4.8.2.
i am getting this exception on when i am using Azure dev ops pipeline

namespace ManageNonBlockingTests
{
    using System;
    using System.Collections.Generic;
    using System.Data.SqlClient;

    public class DataAccess
    {
        private static Logger logger = Logger.GetL

[2022-05-18 05:01] ajayEngProd commented on #1523
I am also facing this issue, below is the code where I am using the "System.Data.SqlClient" package with Version=4.8.2.
i am getting this exception on when i am using Azure dev ops pipeline

namespace ManageNonBlockingTests
{
using System;
using System.Collections.Generic;
using System.Data.SqlClient;

public class DataAccess
{
    private static Logger logger = Logger.GetLogger();

    public sta

[2022-05-18 06:52] ajayEngProd commented on #1523
@JRahnama, please let us know if there are any updates on the above issue.
Any help in this regard would be appreciated.

[2022-05-18 12:26] HeinA opened #1616 "System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Identity.Client, Version=4.21.1.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae'."
Today I cleared my Nuget Cache (I was testing stuff to do with DevOps artifacts)

Now, my project builds, but when I run I get the below exception.

I have a .net 6.0 project & am referencing Microsoft.EntityFrameworkCore.SqlServer 6.0.5
I have tried directly referencing Microsoft.Identity.Client, Version=4.21.1.0.  Nothing works.

Any help resolving this bould be highly appreciated

Regards
Hein

[2022-05-18 16:25] JRahnama commented on #1523
@ajayEngProd can you send us your connection string properties please?

[2022-05-18 17:27] #1616 closed

[2022-05-19 19:01] hofmann-works commented on #1565
I don't know a lot about Azure pipelines, but I ran into the same issue when executing `dotnet-ef database update` from a GitLab docker runner.

Steps to reproduce:
[code]
Results in the same issue:
[code]

My solution was to set the environment variables for Azure.Identity: https://docs.microsoft.com/en-us/dotnet/api/azure.identity.environmentcredential?view=azure-dotnet

I'm using an App Registr

[2022-05-20 20:21] JRahnama commented on #1523
@ajayEngProd can you also try with net6 and its latest version of runtime 6.0.5 please?

[2022-05-21 21:24] dazinator commented on #647
We were originally connecting from our az vnet to the az sql server over public connection so we looked into what you said about SNAT. We didn't have a standard load balancer either or a NAT gateway on our vnet, only az gateway for ingress.

So this week I did some things.

1. Added NAT gateway, 1 outbound public ip.
2. Re-ran Load test - same error occurred.
3. Disabled public connectivity and co

[2022-05-23 04:45] ajayEngProd commented on #1523
@JRahnama  apolgoies for the delay,
 @"Data Source = ***********.database.windows.net; Initial Catalog = *******; Persist Security Info = True; User ID = *****; Password =******";

[2022-05-23 04:46] ajayEngProd commented on #1523
i have removed the userID and password , just FYI , they are not empty strings.

[2022-05-23 23:58] janseris opened #1619 "When server is unreachable, CancellationToken does not cancel the automatical retries"
### Describe the bug
A clear and concise description of what the bug is.

If you are seeing an exception, include the full exceptions details (message and stack trace).

Output:

[code]
Exception message:
Stack trace:
[code]

### Expected behavior
CancellationToken cancels the database connection attempts.

### Further technical details
Microsoft.Data.SqlClient version: (found on the nuget or Micr

[2022-05-24 05:11] Mike737377 opened #1620 "Broken connection on unix systems when executing multiple concurrent statements against a single connection"
### Describe the bug
On unix based systems the following exception is thrown when a single connection is being shared by multiple tasks/threads. The number of threads does not seem to be too relevant as long as there are 2+ threads involved.

[code]

Other threads throw:
- `System.InvalidOperationException: Invalid operation. The connection is closed.`
- `System.InvalidOperationException: BeginExe

[2022-05-24 07:51] roji commented on #1620
You seem to be trying to use the same SqlConnection instance concurrently from multiple threads - that is not supported. Multiple active result sets (MARS) does not change this - connections are not thread-safe ([see docs](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/enabling-multiple-active-result-sets#thread-safety)).

[2022-05-24 08:22] jogibear9988 opened #1621 "Error: The target principal name is incorrect"
### Describe the bug

We have a Net6 Programm wich throws this error (In German: "Der Zielprinzipalname ist falsch").

If we you the same software in an older Version wich works with Net4.8 and System.Data.SqlServer the same connection String could access the Database.
Also Managementstudio could access the DB.

We use "Integrated Security=true" to access the Database.

We also tried to add: encry

[2022-05-24 08:42] jogibear9988 commented on #1621
Got it fixed via adding:
Trust Server Certificate = true;
to ConnectionString

see:
https://github.com/dotnet/SqlClient/issues/609#issuecomment-645406981

[2022-05-24 14:14] JamiePed opened #1622 "Continuous "Login failed for user '<username>'" until AppService Instance is Cycled Out."
### Describe the bug
We've been experiencing issues while trying to recover from temporary drops in database availability. Different instances of the application (hosted in AppService instances) will continuously throw SqlExceptions until the instance is recycled (I.e. we scale up/down or forcibly drop the misbehaving instance). Restarting the App doesn't help.

The initial exception is thrown, un

[2022-05-24 14:48] janseris commented on #1600
I am using both emulator and real device. The issue occurs only in Release on both emulator and real device.
The issue is for first DB call. There is no issue for any subsequent DB call. The error you receive is not what I was reporting. The error what you got is that you cannot connect. Either the device is offline or the server is offline or the connection string is wrong. I assume that you have

[2022-05-24 16:40] swh-cb opened #1623 "Send retained transaction descriptor in MARS TDS header for .NET Core and .NET 5+"
### Describe the bug

The retained transaction descriptor (`TdsParser._retainedTransactionId`) is not send in the MARS TDS header for .NET Core and .NET 5+ applications when a distributed MSDTC transaction is explicitly rolled back without defecting. The retained transaction descriptor must be sent to the server on subsequent executions even though the transaction is considered to be rolled back.

[2022-05-24 18:20] janseris commented on #1600
On Android 8.1 and below I receive the following exception and I am not able to call any DB at all:
![image](https://user-images.githubusercontent.com/64279914/170105089-4d8ad57c-318d-47f8-9dc4-04f8318e0f19.png)

[2022-05-24 20:48] Mike737377 commented on #1620
@roji understand, but why are we getting an SNI connectivity error? I'm curious as to what that has to do with MARS.

[2022-05-24 21:54] roji commented on #1620
@Mike737377 once you do concurrent access to an API that isn't thread-safe (SqlConnection in this case), usually all bets are off and the behavior is completely undefined; in this case, you're effectively having multiple threads doing I/O on the same underlying socket, which causes everything to break down.

MARS is about allowing multiple open readers, and does not provide thread-safety. That mea

[2022-05-25 00:22] schotime commented on #1620
Does it just magically work on windows then? I would've at least thought the behaviour should be similar in this regard.

[2022-05-25 00:55] Wraith2 commented on #1620
Unless you're forcing the windows code to use the managed network implementation then you're seeing a difference between the managed and unmanaged implementations. So yes, it does sort of magically work on windows.

As Roji said multithreaded use of connections is not safe. You've provided a replication though so I'm sure someone will take a look and see if there's a way we can prevent this proble

[2022-05-25 03:34] Mike737377 commented on #1620
I've been looking into how the connection is checked and I've noticed that there seems to be 2 functions; `TdsParserStateObject.IsConnectionAlive()` and `TdsParserStateObject.ValidateSNIConnection()` which do almost the same check but slightly differently given one is concerned about if connections are alive in the pool and the later about if the connection is up for executing the sql.

In the `Td

[2022-05-25 07:31] roji commented on #1620
I highly suspect that given the right timing and usage patterns, things would fail on Windows as well. That's the thing with concurrency bugs - they're timing sensitive, and exactly when they cause failures (and which type) is undefined and random. Whatever you happen to be seeing on Windows with your code, concurrent usage of SqlConnection is not supported.

[2022-05-25 17:20] JRahnama commented on #1620
@roji and @Wraith2  thanks for providing accurate responses. @Mike737377 I also agree on this matter with @roji and @Wraith2.  MARS does not change anything in this scenario.  As Roji has mentioned:

[2022-05-25 18:10] JRahnama commented on #1622
@JamiePed can you try by setting `ConnectRetryCount = 0`  in your connection string?

[2022-05-26 08:13] Wraith2 commented on #1620
As an community contributor I have more freedom to speak bluntly than others. This is a complex issue which is going to be a nightmare to debug and isn't an issue that I would give much priority because it's skirting around unsupported behaviour so even if I fix it there's a decent chance that you'll immediately hit another issue with a similar cause.

I wouldn't say "won't fix" it's just not a go

[2022-05-26 21:35] cli00004 commented on #1390
Hi Just wondering if this issue is fixed? I'm still experiencing the same issue with latest Microsoft.Data.SqlClient 4.1.0

[2022-05-27 00:41] #1623 closed

[2022-05-27 01:52] #1264 closed

[2022-05-27 09:52] vasicvuk opened #1627 "Better diagnostic for connection issues - CRL Check timeout"
### Describe the bug

In one of our client environments, we had odd behavior in terms that when we first run service it cannot connect to SQL Server with following errors for few times:

**Error 1**

[code]

**Error 2**
[code]

After a few connection attempts, it established the connection and the service regularly works until there is a need to extend the Pool of the connection with new ones. The

[2022-05-27 10:20] ian-cowley commented on #1108
Would the unused elements of this get stripped at compile time, with trimming options?

[2022-05-27 15:51] AraHaan commented on #1108
I doubt trimming is supported at the moment.

[2022-05-27 18:05] JRahnama commented on #1627
@vasicvuk there was a bug in v4.x that forces the CRL check. It is included in the main branch and a it will be included in the next hotfix release.

[2022-05-27 18:11] vasicvuk commented on #1627
@JRahnama That is great, But in general logging should be improved to know the reasons why connection cannot be obtained. Is the pool full, is connection to server timed out and similar

[2022-05-27 18:17] JRahnama commented on #1621
@jogibear9988 is server setup to force encryption?

[2022-05-27 22:20] eerhardt opened #1628 "SqlStream and SqlCachedStream should consider overriding Span Read/Write methods"
Since .NET Core 2.1, `System.IO.Stream` has had Read and Write overloads that accept a Span to read to / write from. However, the base Stream implementation isn't optimized. To get the best performance when a caller is using the Span-based APIs, derived implementations of Stream are expected to override the Span-based APIs and perform the operation on the Spans. See the `System.IO.Stream` section

[2022-05-28 20:24] halcwb commented on #1397
@larjo Thanks!! The magical "4.7.0" version did the trick. Quite a rabbit hole.

[2022-05-29 16:28] jogibear9988 commented on #1621
@JRahnama Don't know... I only know, it worked with the connection sring in net4.8
And it now works after adding: "Trust Server Certificate=true"

[2022-05-29 16:28] #1621 closed

[2022-05-30 22:47] shueybubbles opened #1630 "Custom AAD token provider in Winforms can still deadlock in GetFedAuthInfo if using WAM"
Using M.D.S 3.1

### Describe the bug
I am using a custom MSAL-based authentication provider (code is way too big to paste here and I've not had time to make a smaller repro app).

The crux of the issue is that using MSAL with WAM/broker and Winforms doesn't work with M.D.S.

This is how we construct the MSAL app and fetch a token:

[code]

The UI thread gets here:

[code]

Meanwhile the MSAL code

[2022-05-31 09:52] JamiePed commented on #1622
Hey @JRahnama we can try adding that to the connection string - how would disabling retries help?

We're struggling to replicate this issue so it'll be hard to validate whether or not this helps, it seems to be dependent on the health state of SQL Server and the state of the connection during a given request which we've not managed to force in a test environment yet.

We think this is something to

[2022-05-31 17:50] shueybubbles commented on #1630
It's not just the WAM broker, the legacy web ui does the same thing.

UI thread:
[code]

Background task fetching the token:

[code]

[2022-05-31 19:12] roji commented on #1630
See https://github.com/dotnet/SqlClient/pull/1213#pullrequestreview-731870331 where this was discussed. [The code](https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlInternalConnectionTds.cs#L2363) is synchronously blocking on an async call (aka sync-over-async) - a well-known deadlock-producing anti-pattern ([see this](https://blog.s

[2022-05-31 19:39] ajcvickers commented on #1630
Note also it is easy to configure this manually. Just define a sequence using the `ModelBuilder` and set it as the column default:

[code]

Runnable example:

[code]

Output:
[code]

[2022-05-31 19:57] shueybubbles commented on #1630
Somehow the custom provider implementation needs an opportunity to call `Application.DoEvents` on the owner window handle's thread while the token acquisition task is running.

To do this without coupling the driver itself to winforms requires an update to the provider interfaces, afaict.

[2022-05-31 21:21] lcheunglci commented on #1601
I added a comment in the merged PR #1611 , regarding the Microsoft.IdentityModel.* dependency i.e. upgrading from 6.8.0 to 6.18.0, where it succeeded in the netcore project but failed on netfx project because the nuget package `Microsoft.IdentityModel.Abstractions` doesn't exist for netfx from the solution/project's nuget repo: https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuge

[2022-05-31 23:11] JRahnama commented on #1628
Hi @eerhardt we are in a release process. We will get back to this after release.

[2022-06-01 19:02] JRahnama commented on #1627
@vasicvuk I think as an unforeseen case of issue proper logging/Exception catching was not provided.

[2022-06-02 06:59] vasicvuk commented on #1627
@JRahnama I agree, but maybe now is the time to improve logs so next time we don't get generic message when something unforseen happens.

[2022-06-03 00:30] massaynus opened #1631 "Strings.PlatformNotSupported_DataSqlClient is thrown when running on Manjaro"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

I have a backend API made with asp.net core that relies on EF Core 6 and MSSQL for the data layer.
the API and the migration commands run fine on both Windows and Ubuntu/Debian.
When the same code and commands are used on Manjaro/Arch they fail with the following output:

[code]

### Expected

[2022-06-03 12:32] mtrsk commented on #1397
@larjo Thanks, that workaround managed to solve my FSI issues as well.

[2022-06-03 20:30] JRahnama commented on #1601
@lcheunglci  and @AraHaan the issue with the feed should be fixed now. It is added to public feed.

[2022-06-04 10:24] Sajgoniarz commented on #1318
Same issue here. Just created VSIX project, added Microsoft.SqlServer.SqlManagementObjects 161.47021.0 and after trying to create connection with DB i get this exception.

[2022-06-04 11:24] ErikEJ commented on #1318
@Sajgoniarz hardly same issue, as a vsix is a dll file hosted and loaded in the Visual Studio process. Suggest you create a new issue with reproduction details or even better a sample project.

[2022-06-04 12:47] hintsofttech opened #1633 "Sql Query Through Visual Studio is Very Slow"
Dear Sir/Mam,
We are facing Very Slow Sql-Server-Query Performance
only when run through Visual Studio
for even very simple select/insert query.

The same issues not being faced on client's pcs.

even formatted laptop several times and on different ssd.
But still no luck.

please suggest how to fix the problem.

Regards-
Sanjeeb

[2022-06-04 13:31] ErikEJ commented on #1261
@DavoudEshtehari SqlEnums.cs was moved to shared in #1317
SqlClientMetaDataCollectionNames.cs was moved to shared in #1287

[2022-06-04 16:47] davidfowl opened #1634 "Fix where diagnostic listener SqlDiagnosticsListener.OnAfterCommand runs to avoid implict concurrent execution"
### Describe the bug

See https://github.com/dotnet/aspnetcore/issues/41924 for more background and https://github.com/dotnet/aspnetcore/issues/41924#issuecomment-1146646674 for the context.

When you run an async sql SqlCommand (via ExecuteReaderAsync), the implementation fires the diagnostics listener callback **after** running the user's continuation. This allows the code to run concurrently wi

[2022-06-04 17:45] ErikEJ commented on #1634
System.Data.SqlClient is in maintenance mode. Microsoft.Data.SqlClient should be used instead (unsure if it makes any difference for the repro)

[2022-06-04 20:42] rafalkwol commented on #414
@Wraith2 it seems the solution is working fine in 3.1 version of Microsoft.Data.SqlClient NuGet, but doesn't seem to be working for me in 4.0 and beyond. Any idea what change could be causing this? As otherwise I will have to use 3.1 in my plugin based application, but would prefer to stick to the newest version.

[2022-06-04 23:20] Wraith2 commented on #414
If you can provide a standalone repro then I can debug into it and see what is rooting sqlclient. If you do manage to reproduce it please open a new issue so it can be tracked as an open item.

[2022-06-05 00:26] Wraith2 commented on #1634
If I understand this correctly then the equivalent code for netcore in this library is:

https://github.com/dotnet/SqlClient/blob/9b1996a768afad0f29ae692189ffef8b91770907/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs#L2542-L2577

It creates a TCS and then passes the task from it to `RegisterForConnectionCloseNotification` which adds a ContinueWith and unrwaps it,

[2022-06-05 03:30] okolvik-avento commented on #1634
@Wraith2 i'm still seeing the get_Cookies exception after transitioning to Microsoft.Data.SqlClient

[2022-06-05 03:36] davidfowl commented on #1634
@Wraith2 I think there are 2 fixes I can think of:
1. Do a bigger refactoring and await the FromAsync task. This feels bigger and a bit riskier.
2. Call `WriteCommandAfter` *before* setting the TaskCompletionSource. This will make sure diagnostics listeners run before their async continuation executes. We don't need to await the fire and forget task.

I'm confident I can make a reliable repro now

[2022-06-05 07:41] rafalkwol opened #1635 "Cannot unload a collectible AssemblyLoadContext if Microsoft.Data.SqlClient v4.x+ or System.Data.SqlClient is used"
I'm trying to create a plugin based solution for my application. I created a prototype to check if all the requirements can be met with AssemblyLoadContext API. Everything seems to work fine until I use Microsoft.Data.SqlClient v4.x+ or System.Data.SqlClient as a plugin dependency.

The sample source code is available at: [~~https://github.com/rafalkwol/NetCorePlugins~~](https://github.com/rafalkw

[2022-06-05 07:42] rafalkwol commented on #414
@Wraith2 I made a separate issue for this with the source code provided.

#1635

[2022-06-05 09:10] ErikEJ opened #1636 "Project board not updated"
As a contributor and user it is useful to see progress via the project board, but it seems be [neglected](https://github.com/dotnet/SqlClient/projects/9) - ie many merged PRs are not in the Done lane, making it useless.

Would be nice with an update...

[2022-06-05 10:17] Wraith2 commented on #1634
Moving the diagnostics call before setting result/exception is easy and relatively safe in terms of changes in this library. I'm not going to worry about a replication for that one since we're not logically changing the async composition. I did eventually think of this but only after I'd turned my computer off.

My only worry is whether it would expose similar problems to calling late if we call t

[2022-06-06 16:44] JRahnama commented on #1636
@ErikEJ thank you, I will look into this today.

[2022-06-06 16:48] JRahnama commented on #1635
Hi @rafalkwol, we will look into this after preview release.

[2022-06-06 16:52] JRahnama commented on #1634
@davidfowl thanks for opening the issue here. @Wraith2 thank you for the support. We will review the PR.

[2022-06-06 22:48] Mike737377 commented on #1620
You're right. The double negation got me on this one.

Thanks for your comments @Wraith2. I've been rewriting the code to be non concurrent and with MARS disabled so hopefully I can put the issue to bed in our code base.

[2022-06-07 02:22] leiyulong opened #1638 "SqlDependency+Diagnostic 每隔30秒抛出一次异常"
如题，当使用Dependency做数据跟踪时，发现每隔30秒会创建一遍存储过程，如下（方便阅读，已格式化展示），

[code]

当使用诊断时，并且侦听System.Data.SqlClient.WriteCommandError，此时每隔30秒会报一次异常

[code]

[code]

小建议：
1、在创建存储过程前先进行判断，没有时再执行创建
2、另外发现，如果程序崩溃导致无法调用SqlDependency.Stop(connectionString)成功时，数据库会积压很多存储过程、Service Broker下也会积压很多服务和队列，能否进行定时清理

仅个人的一点点想法，是否正确、合理另待考究

[2022-06-07 06:39] quinten-miller commented on #1535
@Nico-VanHaaster we had this same issue within our environment, which is as follows:
Azure function app. .Net Core 6
EF 6 which has a dependency on Microsoft.Data.SqlClient 4.x
Linux App Service Plan
Private endpoints
Connecting to SQL Azure
... and a firewall within the enterprise.

It turns out the the issue was due to not being able to reach the Certificate Revocation List. In version 4 of the

[2022-06-07 07:38] roji commented on #1620
Note that you don't have to disable MARS, which allows multiple resultsets (readers) to be open at the same time. That's unrelated to the above discussion, which is about using SqlClient APIs concurrently from multiple threads.

Having said that, MARS has its own issues, and it's not a bad idea to move away from it - but that's orthogonal to the discussion above.

[2022-06-07 18:49] #1634 closed

[2022-06-07 19:54] kristianjaeger commented on #1318
I just repro-ed this today with Nuget Microsoft.Data.SqlClient 4.1.0 and the implicitly installed Microsoft.Data.SqlClient.SNI dependency of 4.0.0.  This is using .NET Framework 4.7.2 on Windows 2016 Datacenter.
`"Exception": "System.DllNotFoundException: Unable to load DLL 'Microsoft.Data.SqlClient.SNI.x64.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`.

[2022-06-07 21:05] Wraith2 commented on #1634
How's that for a quick fix :)

[2022-06-07 21:06] davidfowl commented on #1634
![SteveHarveyHappyGIF](https://user-images.githubusercontent.com/95136/172482697-52162adc-44a5-47ce-b616-f8cb210dfa8c.gif)

[2022-06-08 02:31] JasonAtATL commented on #1418
This issue is still tagged as waiting for customer and needs more info. It looks like repro samples have been provided. Does the MDS team still need more information to fix this?

[2022-06-08 06:04] lcheunglci commented on #1418
I think the MDS Team is currently in the middle of a release, and the samples provided should be sufficient to reproduce the issue since I was able to run into the same crash.  From debugging the code, I believe I ran into a invalid parameter exception in  the native side of MDS SNI.dll, but wasn't able to dive much deeper since I would need the pdb files to the SNI.dll included, so I wasn't able

[2022-06-08 09:11] abelal83 commented on #1387
Thanks for this, spent several days trying to figure this out!

[2022-06-08 12:57] gbarceloPIB commented on #1480
I have the same error under docker dotnet 6 runtime (official microsoft image) or WSL (Ubuntu)

[2022-06-08 22:02] dazinator commented on #647
Just an update to say, increasing the sql command timeout "solved" this issue. Not sure why the sql commands are so slow under this load test, they insert records into a table, I'm assuming it's related to azure sql dB performance but not sure where to check.. leaving that to one side for now.

[2022-06-09 00:45] Wraith2 commented on #1635
Using the documentation at https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability (as well as the dotnet-sos tool to get the sos.dll i need and then loading manually using `.loadby c:\users\Wraith2\.dotnet\sos\sos.dll`) I've dumped the gc roots and SqlClient doesn't turn up in the list, meaning it isn't causing the rooting behaviour as far as I know.

[code]

[2022-06-09 01:52] leiyulong commented on #1638
I am so sorry, it's my mistake. this is an System.Data.SqlClient issue, not Microsoft.Data.SqlClient .

I just verified Microsoft.Data.SqlClient，There is no such exception

I'm very sorry for your time, I'll close the issue later.

Best wishes!
---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 发送日期 | 2022年6月9日 03:34 |
| 收件人 | ***@***.***> |
| 抄送人 | ***@***.***> ,
***@***.***> |
| 主题 | Re: [dotnet/SqlClien

[2022-06-09 01:56] #1638 closed

[2022-06-09 03:44] premradhakrishnan commented on #1402
Just came across this issue and commenting as its not closed yet.

If the default encrypt setting becomes true, then theoretically we have 2 options.
Option 1 (recommended) : Assign a valid certificate to the SQL Server Instance, a certificate that will be trusted by all clients.
Option 2 : Add trustservercertificate=true in the connection string

Option 2 is not recommended as it is not secure be

[2022-06-09 11:09] Toqe commented on #1402
@premradhakrishnan thanks for the summary, indeed most people searching for this error message may have an issue with their certificates and have to fix this as you described.

But let me add that this exact issue is caused by a code change in version 4.0 of Microsoft.Data.SqlClient, which to my understanding lets the authentication of the connection to SQL Server fail, if the CRL (certificate rev

[2022-06-11 18:23] mcavanagh opened #1640 "Configurable command retry logic from appsettings.json"
The ability to define retry logic from configuration is described here: https://docs.microsoft.com/en-us/sql/connect/ado-net/configurable-retry-logic-config-file-sqlclient?view=sql-server-ver16#command-section

However, it's using the XML config format.  Is it possible to define the same config rules but with an appsettings.json as found in a typical asp net core app?

I took a best guess at what

[2022-06-12 10:51] rafalkwol commented on #1635
It seems there are some handles held by DefaultAssemblyLoadContext, ManagedLoadContext and an array of objects. I'm not sure if it's correct behaviour of AssemblyLoadContext implementation or not. The weird thing is that if I'm not using Microsoft.Data.SqlClient or System.DataSqlClient the issue is not there. Also older version of Microsoft.Data.SqlClient seems to work fine.

From what I gather in

[2022-06-14 06:50] JRahnama commented on #1640
@mcavanagh we will look into this after the release.

[2022-06-14 06:57] JRahnama commented on #1402
@Toqe PR #1559 will address the CRL issue. When the preview package is released we recommend users to test with the package to see if the issue is solved.

[2022-06-14 08:01] capcom923 commented on #31
Thanks @brianlagunas & @3dbrows , it works fine both in Windows and Linux after installed IG.Data.SqlClient package. I think we should merge this great change to the SqlClient.

[2022-06-14 13:48] DigiBanks99 opened #1642 "Provide mechanism for checking if custom column encryption provider has been registered"
### Is your feature request related to a problem? Please describe.

We make use of the `SqlColumnEncryptionAzureKeyVaultProvider` which we register as part of our host configuration. For integration testing altering the client, configuration causes a `System.InvalidOperationException` to be thrown if a second attempt is made to register the same provider. Currently, we are catching this specific i

[2022-06-14 14:25] roji commented on #1642
Shouldn't this kind of thing be tracked in your integration testing infrastructure, and you'd just avoid registering the same provider twice?

[2022-06-14 14:55] DigiBanks99 commented on #1642
Well, since the logic to track registration lives entirely inside the `SqlConnection` class with no mechanism to tap into it, I don't see how I'm supposed to do that?

I can modify my ASP.NET app with a static field. But this seems very extreme to make a change to a running app to track something a different dependency is doing simply so test will pass, don't you think? The fact `SqlConnection` tr

[2022-06-14 14:55] brianlagunas commented on #31
@capcom923 I agree. There should be a way to opt into this behavior instead of us having to maintain a separate package for it.

[2022-06-14 15:28] roji commented on #1642
I'm not sure what the problem is - it's your responsibility to register this once before opening connections, so you'd do this in your test infrastructure in some single setup code which gets executed once, before tests run. In an ASP.NET app, simply run this in your application's Main or similar...

If for whatever reason that doesn't work for you, have some static bool which you set to know whet

[2022-06-14 18:29] #1620 closed

[2022-06-14 19:53] roji commented on #1642
I'm not a SqlClient maintainer, so it's not up to me - adding a Try method that returns a bool rather than throwing may be acceptable. But it's a fairly common scenario to have to run some initialization code once in the context of an application, and IMHO it doesn't seem like much to ask an application (or test) writer to handle that.

[2022-06-14 19:53] JRahnama commented on #1642
@DigiBanks99 just to clarify are you asking for a new feature to be added to our driver? If the answer is yes, that would be a low priority in our queue of to-do tasks as it could, as @roji  mentioned, be handled in the user application.

[2022-06-15 03:46] DigiBanks99 commented on #1642
@JRahnama Yes, it is indeed a new feature request. I understand what you mean, so would you be open to a PR?

[2022-06-15 04:15] JRahnama commented on #1642
@DigiBanks99 as an open source driver we always appreciate contribution from users and community members. Please feel free to submit a PR that we can review that.

[2022-06-15 11:30] capcom923 commented on #31
Yes, and this separate package seems hard to work with ORM since it is not merged.
For example, given a project which uses EntiryFrameworkCore as ORM, the IG.Data.SqlClient is not working any more after installed. The UID and PWD will not be used when set intergrated security = true. The connection will still use the identity of the running application.
So, is that possible to make IG.Data.SqlClie

[2022-06-15 11:37] capcom923 commented on #31
Yes @brianlagunas , and this separate package way seems hard to work with ORM.
For example, given a project which used EntiryFrameworkCore as ORM, the IG.Data.SqlClient is not working any more after installed. The UID and PWD will not be used when set intergrated security = true. The connection will still use the identity of the running application.
So, is that possible to make IG.Data.SqlClient w

[2022-06-15 15:28] brianlagunas commented on #31
@capcom923 I have made the code public so feel free to grab what you need and place it in your own fork

https://github.com/RevealBi/IG.Data.SqlClient

[2022-06-15 16:22] alex-jitbit opened #1643 ""System.Data.SqlClient is not supported on this platform" on .NET 6 on RHEL and AlmaLinux, works fine on .NET 5 and under Ubuntu"
### Describe the bug
We have a cross platform ASP.NET 6.0 app (published as "portable") that runs fine on Windows, Ubuntu etc, but throws the above error on RHEL and AlmaLinux. Reverting to the older version of the app that targets .NET 5 works fine.

Both versions `System.Data.SqlClient 4.8.3` and `Microsoft.Data.SqlClient` throw this error. My connection-string uses an SQL user with a password,

[2022-06-15 16:43] brianlagunas commented on #31
To add this functionality yourself, add a package reference to SharpCifs.std. Then in the `netcore/Microsoft.Data.Sql/Data/SqlClint/TdsParser.SNISSPIData`, use this code instead

[code]

I believe that is all that was needed.

[2022-06-15 17:23] JRahnama commented on #400
Closing the issue due to inactivity. Feel free to reopen or create a new issue if this is still a problem.

[2022-06-15 17:23] #400 closed

[2022-06-15 17:27] JRahnama commented on #449
@PashaPash I am closing this issue assuming it was solved regarding the last comment and inactivity. Feel free to reopen or create a new issue.

[2022-06-15 17:34] #861 closed

[2022-06-15 17:36] JRahnama commented on #1117
Closing this issue as package has been upgraded

[2022-06-15 17:36] #1117 closed

[2022-06-15 17:43] #1481 closed

[2022-06-15 17:46] JRahnama commented on #1510
Closing the issue as external.

[2022-06-15 17:46] #1510 closed

[2022-06-15 17:50] JRahnama commented on #1601
Closing this as done in PR #1611

[2022-06-15 17:50] #1601 closed

[2022-06-15 17:56] AraHaan commented on #1601
@JRahnama, @lcheunglci was the followup pr created for the other Microsoft.IdentityModel.* dependencies?

[2022-06-15 18:32] JRahnama commented on #1643
@alex-jitbit this seems like duplication of #1390 and some other similar issues when using Kerberos authentication on Unix. Please check that issue thread.

[2022-06-15 18:56] lcheunglci commented on #1601
I have a branch with the change for the upgrade, I'll open a PR shortly.

[2022-06-15 19:04] JRahnama commented on #1627
@vasicvuk the issue is coming from an external library that we do not have any access to it. There is nothing we can do here.

[2022-06-15 19:07] alex-jitbit commented on #1643
@JRahnama nope, not using Kerberos auth, simply MS SQL user with password. This is a library/targeting/dependency issue, strictly

[2022-06-15 19:20] ErikEJ commented on #1643
What is your Publish command?

[2022-06-15 22:46] alex-jitbit commented on #1643
@ErikEJ it's `dotnet publish ..\path\to\MyProject.csproj --configuration Release -o path\to\OutputFolder`

Once again, the same build works fine on Ubuntu, Windows Server etc. But _**some**_ linux distros throw this error.

[2022-06-16 06:26] capcom923 commented on #31
Thank you so much @brianlagunas for your talent code~ Now, I understand that you split the connStr and modify the sendBuff using SharpCifs.
Looking forword your public repo~

[2022-06-16 07:21] capcom923 commented on #143
Hi @cheenamalhotra , thanks for your answer, but I want to know is that possible to use Kerberos auth in DB connection level like NTLM? Imagine that, our application requires 2 DB connections, the one is in domain A, the other is domain B.

[2022-06-16 21:57] Wraith2 commented on #1643
The System version of the library can only be updated as part of the runtime. The last runtime it shipped with was netcore 3.1. So regardless of the bug status I don't think it's going to get fixed in the System version.

Can you try with the Microsoft version of the library from this repo and see if it reproduces?

[2022-06-17 16:38] Kaur-Parminder commented on #1633
@hintsofttech We had similar issue where VS2022 was slow. Please see #1540 . You might have some features enabled that might be causing. if that does not change things for you. Please provide same 'Hello World' level program that shows slowness comparison between the two and we can investigate it further.

[2022-06-18 08:46] shawenbin opened #1650 "5.0.0-preview3.22168.1 error"
in 5.0.0-preview3.22168.1 , encountered an error
Could not load file or assembly 'Microsoft.SqlServer.Server, Version=5.0.0.0, Culture=neutral, PublicKeyToken=23ec7fc2d6eaa4a5'

return 5.0.0-preview2.22096.2 , business as usual

[2022-06-18 08:56] ErikEJ commented on #1650
Can you share a simple repro?

[2022-06-19 03:53] JRahnama commented on #1650
@shawenbin have you seen [this notes](https://github.com/dotnet/SqlClient/blob/main/release-notes/5.0/5.0.0-preview3.md)? The very first bullet point in the breaking changes?

[2022-06-19 03:59] JRahnama commented on #1643
@alex-jitbit I will look into this, but as a wild guess could this be related/similar to #1249 and #81?

[2022-06-19 08:48] ErikEJ opened #1651 "Improve error message for entrypt=strict"
5.0 preview 3 with encrypt=strict

Getting this now (none of the "possible causes" apply)

[code]

[2022-06-19 11:26] MasayukiOzawa opened #1652 "Protocol Version for TDS 8.0 connection"
Connect to SQL Server 2022 CTP 2.0 with TDS 8.0 with `Encrypt=Strict` and get the Protocol Version with the following query.
[code]
 When I connect with `Encrypt=Strict`, I expect a TDS 8.0 connection, but the query results in a TDS 7.4 connection.
![image](https://user-images.githubusercontent.com/5971957/174478136-7821b4d8-ecd6-44fa-879a-676310f390fc.png)

Even if `Encrypt=Strict` is specified,

[2022-06-19 14:23] SIkebe commented on #1650
Maybe issue for EntityFramework Core ?
[This](https://github.com/SIkebe/SqlClientError) is a simple repro.

[code]

[2022-06-19 14:53] ErikEJ commented on #1650
What happens if you add an explict reference ?

`<PackageReference Include="Microsoft.SqlServer.Server" Version="1.0.0" />`

[2022-06-19 14:57] SIkebe commented on #1650
I tried that, but same result.
![image](https://user-images.githubusercontent.com/17608272/174487253-17ab2292-b229-4dcc-92bb-9d8ddb45ef92.png)

[2022-06-19 16:00] ErikEJ commented on #1650
Why is it looking for version 5? It should look for 1.0 - maybe because it is not a package reference in the project file?

[2022-06-19 17:35] alex-jitbit commented on #1643
@JRahnama nope, I'm not using docker, it's a standalone SQL Server installation, accessed over network

[2022-06-19 17:36] AraHaan opened #1653 "5.0.0 deployments seems to ship an win-arm runtime folder."
### Describe the bug

The bug is that the 5.0.0 deployments seems to ship an win-arm folder. If I remember right I thought the .NET SDK dropped 32 bit ARM support for a total support of only: win-x86, win-x64, and win-arm64.

### To reproduce

Build any project that references the latest SqlClient build.

### Expected behavior
For the win-arm folder to not be created under the ``runtimes`` folder

[2022-06-19 18:24] alex-jitbit commented on #1643
@Wraith2 just tried with Microsoft.Data.SqlClient

[code]

[code]

[2022-06-19 18:30] alex-jitbit commented on #1643
The exception is trivially reproducible on WSL2: just install `AlmaLinux 8` from MS Store and run any NET6 app. `SqlConnection` constructor throws this error.

NET5 works fine.

[2022-06-19 19:19] ErikEJ commented on #1643
Have you tried using the latest SDK?

[2022-06-19 20:20] alex-jitbit commented on #1643
@ErikEJ no, but I have tried installing dotnet as described in MS docs

Have you tried the steps to repro I provided? It takes 10 minutes, yet we're having this conversation for 4 days

[2022-06-19 23:37] Jacko1394 commented on #1650
I get the same error: Could not load file or assembly 'Microsoft.SqlServer.Server, Version=5.0.0.0.

Only difference is I'm reference 5.0.0-preview3 now instead of 5.0.0-preview2

[2022-06-20 03:52] JRahnama commented on #1651
@ErikEJ couple of questions, although you mentioned none of the possible causes apply, just to confirm:

1. You have a SSSL/TLS server certificate installed?
2. Your connection string provides the exact, FQDN, as "Data Source" or you have defined a HostNameInCertificate?

Just keep in mind no matter what, when you select `Encrypt = SqlConnectionEncryptionOption.Strict` in `SqlConnectionStringBuild

[2022-06-20 04:53] ErikEJ commented on #1651
Neither. The actual Win32Exception message points me in the right direction.

[2022-06-20 11:07] princeoffoods commented on #1650
Exactly the same problem here.

[2022-06-20 16:58] JRahnama commented on #1652
@MasayukiOzawa this could be a SQLServer 2022 issue for not showing the actual version number, but let me do more testing and I will get back to you soon.

[2022-06-20 16:59] JRahnama commented on #1653
@AraHaan we are currently using netcoreapp3.1 to build the driver when the support for net6 is added we will drop that I think.

[2022-06-20 17:10] AraHaan commented on #1643
I would try it with the latest .NET 6 servicing release first.

[2022-06-20 17:30] ErikEJ commented on #1643
Yes  6.0.105 is not the latest SDK

[2022-06-20 17:58] alex-jitbit commented on #1643
@ErikEJ @AraHaan just updated to 6.06 and 6.0.106 - same exact error

[2022-06-20 18:08] ErikEJ commented on #1643
Latest is 6.0.301 I think - but it can be confusing

[2022-06-20 20:03] alex-jitbit commented on #1643
I have just installed the latest aspnetcore 6.0.6 runtime, which is the latest servicing release, and have the same exact error.

It really feels like you guys are just dragging the issue. Meanwhile almost a dozen of our customers are waiting for a fix.

P.S. do I really need the SDK installed to run apps though? Isn't the runtime enough? I spent an hour trying to find a way to install the "latest

[2022-06-20 20:23] Wraith2 commented on #1643
I'm building a WM with nested virtualization enabled so I can setup all the stuff needed for wsl2 debugging. If it was a simple fix I wouldn't need to do that. So yes I imagine you're right that we're all dragging this out but it's because it's not a trivial thing to setup debugging for.

[2022-06-20 22:18] alex-jitbit commented on #1643
@Wraith2 appreciate

[2022-06-20 23:33] Wraith2 commented on #1643
The source of the problem in the current code is `AliasRegistryLookup` which is called from `TdsParserStaticMethods.AliasRegistryLookup(ref host, ref protocol);` it uses the registry which throws a type initialization exception because it isn't supported on non-windows.

https://github.com/dotnet/SqlClient/blob/d8fcedebc2c0112eaec43bd35feab5530fd9f1d0/src/Microsoft.Data.SqlClient/src/Microsoft/Dat

[2022-06-20 23:40] Wraith2 commented on #1643
Overall the lib is behaving as if it's running on windows, which is odd. have you tried a more mainstream liux?

[2022-06-21 01:31] DavoudEshtehari commented on #1650
[Unsigned package](https://sqlclientdrivers.visualstudio.com/_apis/resources/Containers/12955556/Artifacts?itemPath=Artifacts%2FMicrosoft.Data.SqlClient.5.0.0-pull.50415.nupkg) for test purposes. Please, post here your test result with this package.

[2022-06-21 01:32] AraHaan commented on #1643
Looks to me like it should be using the newer OperatingSystem class to guard against the call to the registry (which does not exist in linux unless running on wine).

[2022-06-21 07:37] Wraith2 commented on #1643
If I guard that error I hit an error in SNIInitialize when it can't load the sni.dll file. That means that it's trying to use the windows implementation. The nuget restore shouldn't be be choosing that implementation. So it isn't that we're doing anything wrong in code at runtime only that the wrong implementation was chosen. I don't know exactly where that choice is made, or how. Cross platform i

[2022-06-21 08:18] AraHaan commented on #1643
perhaps the issue is that they are not publishing it as FDD dependent but as rid specific as well (by using ``--self-contained false``).

Also I think having them skip the apphost as well to force usage of ``dotnet`` here would be the way to go.

[2022-06-21 09:25] Wraith2 commented on #1643
There's no deployment step at all. Both through wsl and directly using dotnet run it uses the windows assembly. It shouldn't.

[2022-06-21 11:12] eolamisan commented on #898
Would you update documentation to include "error: 19 - Physical connection is not usable" please?
e.g.
https://docs.microsoft.com/en-us/sql/relational-databases/errors-events/database-engine-events-and-errors?view=sql-server-ver16

[2022-06-21 13:54] AraHaan commented on #1643
That is odd.

[2022-06-21 15:00] VictorCanovasA commented on #1600
Hello @Kaur-Parminder As in your image below i am getting the error "Microsoft.Data.SqlClient.SqlException
  Message=A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: TCP Provider, error

[2022-06-21 15:04] janseris commented on #1600
This error means that you do not run the SQL server which the connection string is connecting to.

[2022-06-21 15:42] xeonsrs commented on #1650
Is that for internal use? Can't access the package via the link

[2022-06-21 17:16] roji opened #1655 "Cannot write decimal.MaxValue if precision/scale are set on SqlParameter"
It seems like it's possible to write decimal.Max into a `decimal(38, 4)` column, as long as Precision and Scale aren't set on the parameter. The moment they are set, an exception is thrown. In EF Core, we always set the Precision/Scale because it's necessary for Always Encrypted to function correctly.

Exception:

[code]

Full repro:

[code]

Originally reported in https://github.com/dotnet/efcore

[2022-06-21 17:51] DavoudEshtehari commented on #1650
@xeonsrs I updated the link. It should work.

[2022-06-21 17:59] xeonsrs commented on #1650
@DavoudEshtehari  still not able to access

[2022-06-21 18:37] jonathanpeppers opened #1656 "SQL Server pre-login handshake failed Android 5,6,8.1"
---
**Issue moved from dotnet/maui#6859**
**Issue moved from https://github.com/xamarin/xamarin-android/issues/6990**
- Please respond to @janseris.

---

_From @janseris on Thursday, May 5, 2022 12:39:34 PM_

### Description

SQL Server - the connection was established but pre-login handshake failed when calling database via Entity Framework

`**Microsoft.Data.SqlClient.SqlException:** 'A connect

[2022-06-21 22:07] DavoudEshtehari commented on #1655
Thanks @roji, We'll check and back to you.

[2022-06-21 22:51] MasayukiOzawa commented on #1652
Thanks for the information.
Should I present this question as feedback for SQL Server 2022?

[2022-06-21 23:27] David-Engel commented on #1652
No need. The server team is already aware of the issue and plans to address it before RTM.

[2022-06-21 23:42] MasayukiOzawa commented on #1652
It appears that the server team is already aware of this issue, so we will close it.
Thanks to all who commented.

[2022-06-21 23:42] #1652 closed

[2022-06-22 09:37] VictorCanovasA commented on #1656
Same problem here on Android 11 (Api 30). On my MAUI project on VS 2022 Preview (17.3.0 Preview 2.0) I don't have the option to change TLS (Android > options). It simply don't exists.
DbConnectionString = "Data Source=192.168.1.xxx,1433; Database=PoC_MAUI;Integrated Security=True;Encrypt=False;TrustServerCertificate=True";
I trying everything with the connection string...

[2022-06-22 09:50] janseris commented on #1656
@VictorCanovasA the TLS options were only in preview version of maui probably for experimental purposes.
Are you getting handshake failed on Android 11? That hasn't ever happened to me

[2022-06-22 09:56] VictorCanovasA commented on #1656
Yes: "...an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)"

I think it's because you are not using Microsoft.EntityFrameworkCore.SqlServer isn't it?

[2022-06-22 09:57] janseris commented on #1656
I am using EF Core 6 with SQL Server. That's odd.

[2022-06-22 10:08] janseris commented on #1656
Sample application posted by me is here:
https://github.com/xamarin/xamarin-android/issues/6990#issuecomment-1136289977

[2022-06-22 11:01] VictorCanovasA commented on #1656
@janseris I am using SQL Server 2019. Sadly i can't share any code by now. I can't figure out what's wrong so I'll continue investigating. ¯\_(ツ)_/¯

[2022-06-22 11:51] janseris commented on #1656
Could you post stats for all android versions (handshake error or not) ? That would help a lot!

[2022-06-22 14:41] VictorCanovasA commented on #1656
@janseris Thank you for all your help but I created an SQL Azure Database and it works perfect. In production there isn't a local SQL Server so I continue in this way to avoid losing more time.

[2022-06-22 18:04] #1650 closed

[2022-06-22 19:44] JRahnama commented on #1656
Hi, Microsoft.Data.SqlClient throws error 35 under couple of circumstances:

1. If MARS (Multiple Active Result Sets) is set to true and current session cannot handle the Acknowledge packet.
2. MARS is requested and packets are messed up.
3. Authentication fails on enabling SSL (TCP error will occur)
4. Async calls are used and writing to Stream in async cannot be completed.

Now the question is w

[2022-06-23 16:13] JRahnama commented on #1656
@janseris you can directly upgrade to the latest version of M.D.SqlClient by adding that to the csproj of the project and that will overwrite the previous version.

[2022-06-23 17:03] janseris commented on #1656
Hi, I tried 4.1.0 which is latest stable according to NuGet and also your 5.0.0 preview which doesnt show in preleases in NuGet but works:

The result in short is: 5.0.0 Preview does not fix the problem - the problem for Android 8.1 and lower perists.

Certificate details:
- verified by DigiCert, showing as OK in browser
- Not Before: Thu, 24 Feb 2022 00:00:00 GMT
- Not After: Fri, 24 Feb 2023 23:

[2022-06-23 19:10] MonocleKelso commented on #1402
@JRahnama we had the identical experience as @jmezach. We connect to AWS RDS and MDS v4 works fine after you install the certificates for the region your DB is in but only in Windows. When running in Docker Linux we get the same exception.

I tried to use v5 preview3 which also works in Windows but in Docker you get the following exception:
[code]

[2022-06-23 19:25] ErikEJ commented on #1402
@MonocleKelso try preview 2 instead.

[2022-06-23 19:34] MonocleKelso commented on #1402
@ErikEJ preview 2 works. Thanks!

[2022-06-24 16:06] JRahnama commented on #1402
I would like to ask all users who encountered this issue to test with the [latest release of M.D.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/5.0.0-preview3.22168.1) to see if the problem is solved.
@jmezach

[2022-06-24 22:56] DavoudEshtehari commented on #1418
Can you verify if the issue exists with version [5.0-preview3](https://www.nuget.org/packages/Microsoft.Data.SqlClient/5.0.0-preview3.22168.1)?

[2022-06-24 23:53] HamsterExAstris commented on #1418
My repro above exhibits the same issue with 5.0-preview3 as well.

[code]

[2022-06-25 06:10] Grauenwolf commented on #317
Here are the two pieces that appear to be relevant.

[code]

Looking at the [TDS spec](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-tds/b46a581a-39de-4745-b076-ec4dbb7d13ec) I don't see anything about DELAYED_DURABILITY in the transaction manager section.

This means that it will need custom handling for DELAYED_DURABILITY. Instead of calling `_parser.TdsExecuteTransactionManage

[2022-06-27 08:12] 563256676 opened #1659 "SqlClient version 4.1.0 connection database SqlServer version 2008 error"
When I use SqlClient version 4.1.0 to connect to the database of SqlServer 2008 version, there is a problem in getting the columns of the table, but the same code to connect to SqlServer 2022 is normal. Does version 4.1.0 not support 2008? It is the lowest What are the supported versions?

[2022-06-27 08:55] ErikEJ commented on #1659
What error are you seeing?

[2022-06-27 10:20] janseris commented on #1656
@JRahnama

for my surprise, EF Core 6.0.3 uses Microsoft.Data.SqlClient 2.1.4. So yes, connecting to our server definitely worked before version 4.0.0

[2022-06-27 15:08] KayakFisher205 opened #1660 "5.0.0-Preview3.22168.1 not including Microsoft.SqlServer.Server in Published 'Single File'"
### Describe the bug
When I use the 5.0.0-Preview3.22168.1 within visual studio and I have the Publishing set to 'Produce single File', Microsoft.SqlServer.Server can't be found by the program when it starts.

5.0.0-preview2.22096.2 didn't have this issue.

[code]

[2022-06-27 17:30] ErikEJ commented on #1660
Known issue with preview 3, use 2 or wait for RTM.

[2022-06-27 22:46] shwelc2 commented on #1441
I am experiencing the same issue with Windows 11 Arm/EF 6.06 /Visual Studio 2022 and localDB.  I can connect to localdb in SSMS and also visual studio server explorer,  but running migrations (update-database) always gives an error about being unable to connect to localdb.  I also tried a clean install of the new Visual Studio 2022 Preview (arm) thinking this would resolve it, but the issue is sti

[2022-06-27 22:47] shwelc2 commented on #1441
Should have added also
Edition	Windows 11 Enterprise
Version	22H2
Installed on	‎6/‎10/‎2022
OS build	22621.160
Experience	Windows Feature Experience Pack 1000.22632.1000.0

[2022-06-28 18:05] DavoudEshtehari commented on #1660
It's already fixed on PR #1654. Closing the issue since it's duplicated of #1650.

[2022-06-28 18:05] #1660 closed, assigned to nobody

[2022-06-28 18:07] DavoudEshtehari commented on #1659
The SQL Server 2008 and earlier versions are out of support. We no longer test those versions.

[2022-06-28 18:31] Wraith2 commented on #1659
True, but we also should know if we broke something so a test case would be useful.

[2022-06-28 22:44] janseris opened #1662 "Android - cannot connect to SQL Server Express 2019 using any casual SqlClient version (v2.1.4, v4.1.0, v5Preview)"
### Describe the bug

Edit: please use the test application version added in the latest comment in this issue (more functions, less hardcoded)

Introduction:
- there is no issue on Windows
- on Windows, you should be seeing this with the sample app:
  - ![image](https://user-images.githubusercontent.com/64279914/176318771-bdf23f34-f6d7-449d-ab93-6224302c62ae.png)
  - run as ![image](https://user-i

[2022-06-28 23:33] alvanxp opened #1663 "is ReadSyncOverAsync causing thread starvation?"
## Why EF call to ReadSyncOverAsync call?

I work on a oData project using EF Core 6.0.6 using async calls but it is creating double number of threads than the .net Framework v4.7.2 version of the same code, the big difference that I found that the hospot is the "Microsoft.Data.SqlClient.TdsParserStateObjectNative.ReadSyncOverAsync" method.
is that call causing a thread starvation?

Microsoft.Enti

[2022-06-29 00:04] roji commented on #1663
Moving to SqlClient as this doesn't seem related to EF Core in any way.

[2022-06-29 07:47] daxu7509 opened #1664 "Microsoft.Data.SqlClient.SqlConnection.GetOpenTdsConnection throws random exception invalid operation, connection closed"
### Describe the bug
posted on stackoverflow as [well](https://stackoverflow.com/questions/72797229/mysterious-microsoft-data-sqlclient-sqlconnection-getopentdsconnection)

I was using System.Data.Client and see above error, according to this [fix](https://github.com/dotnet/SqlClient/issues/54), I should upgrade to Microsoft.Data.Cient, so I did that (.net framework 4.8 windows running environment

[2022-06-29 11:34] janseris commented on #1662
Day 2:
- server configuration was not changed
- tested older 6.0.1 project on Windows which still connects without TrustServerCertificate=true and without Encrypt=false and now the test application does not require TrustServerCertificate=true or Encrypt=false (which it did yesterday, because without it, it would keep saying that certificate validation failed on Windows)

[2022-06-29 14:38] janseris commented on #1656
It would have been nice if you told me why you asked for 4.0 and the reason is the following:
https://docs.microsoft.com/en-us/sql/connect/ado-net/introduction-microsoft-data-sqlclient-namespace?view=sql-server-ver15#breaking-changes-in-40

[2022-06-29 16:24] JRahnama commented on #1664
@daxu7509 can you post a simple repro that we can investigate at our end?

[2022-06-29 16:25] JRahnama commented on #1664
Also, it would be nice if we can have the error stack trace please.

[2022-06-29 16:44] Kimmoteemu commented on #1402
We had the problem as well, updating to 5.0.0-preview3.22168.1 seems to have fixed it.

[2022-06-29 16:50] janseris commented on #1662
The app has been updated for faster testing and examination.
The latest version can be seen here:
It now allows selecting connection string, entering a custom connection string, adding suffixes to the connection string, disable connection pooling (that did not help getting different results on different versions of SqlClient on Windows machine concerning the certificate though) etc.

The results f

[2022-06-29 16:57] janseris commented on #1656
Here is a better test application for this issue. It calls the SQL Server using various versions of SqlClient:
https://github.com/janseris/MAUI_SQLServer_Test/commit/72b40bfb03d35ef1d1acd79fb7ed8707160abee4

[2022-06-29 19:52] JRahnama commented on #1664
@daxu7509 what connection string properties are being used?

[2022-06-30 06:12] JRahnama commented on #1664
@daxu7509 just to confirm a theory, if you take out `CommandBehavior.CloseConnection` everything works fine. correct?

[2022-06-30 06:30] JRahnama commented on #1662
Hi @janseris is this a duplication of #1656?

[2022-06-30 06:32] janseris commented on #1662
Hi, no it is not.

[2022-06-30 07:02] daxu7509 commented on #1664
hi @JRahnama I never tried this, don't know. Can I ask why you think that could make some difference? The most used UDT are these two:
CREATE TYPE [dbo].[Code] AS TABLE (
    [Idx]       INT          NULL,
    [TypeCode]  VARCHAR (20)  NULL,
    [InstrType] VARCHAR (10)  NULL,
    [Universe]  VARCHAR (20)  NULL,
    [Code]      VARCHAR (20)  NULL );

    CREATE TYPE [dbo].[Setting] AS TABLE (

[2022-06-30 15:12] capcom923 commented on #143
Thanks @David-Engel for your detailed explanation. But we still think Kerberos is a littlle bit complex.
As we known:
1. Java application can use JDBC(supports NTLM) to connect MS SQL Server by (domian/username, password).
2. .net application can use SqlClient to connect MySQL by (domian/username, password) when MySQL DB server installed PAM plugin which supports LDAP.

And I tested both above 2 a

[2022-06-30 16:47] FireInWinter commented on #143
@capcom923 As far as I can see, they say it isn't secure, but allow SQL authentication, which is arguably much less secure than NTLM (See my comments in #31).  NTLM is available in the MS JDBC driver for SQL, so I guess they are trying to push SQL developers on Linux to Java instead of .net core?  Also, I would guess that 50%+ of database connections from Windows client use NTLM anyway due to a nu

[2022-07-01 13:23] DLS201 commented on #1530
Hello,
We currently face a similar issue since approximately 1 month, with SQL queries facing Win32Exceptions with code 258 and no obvious cause. The DB itself signals no issue with very low DTU usage.

[2022-07-02 01:46] duyn9uyen commented on #1390
I've been struggling trying to upgrade our .NET 5 API to .NET 6 with for days! We host our API on a Linux containers in Kubernetes. The container kept crashing and I saw that it threw a `Segmentation fault (core dumped).` error. Explicitly referencing Microsoft.Data.SqlClient 4.1.0 worked for me!

[2022-07-02 07:02] JRahnama commented on #1390
@duyn9uyen the problem was addressed in v4.1.

[2022-07-04 03:18] JRahnama commented on #1664
@daxu7509 seems like the reader is disposed before getting the results back in an async call. When the reader is disposed the  `CommandBehavior.CloseConnection` will make sure that the connection is closed that is why you are getting  the message indicating the connection is closed.
`{""id"":""37200188"",""outerId"":""28672654"",""type"":""System.InvalidOperationException"",""message"":""Invalid o

[2022-07-04 03:20] JRahnama commented on #1530
@DLS201 can you post the stack trace of the exception? have you checked the tcp and socket events/logs?

[2022-07-04 03:28] JRahnama commented on #1662
one other step to check before going deeper into the issue. Can you look into `Sql Server Configuration Manager` , expand `Sql Server Network Configuration` right click on `Protocols for <your instance name>` and select property. You will see a window similar to below:

![image](https://user-images.githubusercontent.com/32077152/177076227-3a8db6ee-7a2c-4905-9b3c-4643acc4043c.png)

and make sure th

[2022-07-04 08:03] daxu7509 commented on #1664
in the production code, we wrap connection and command in polly retry, like this:

using (var cmd = new SqlCommand
            {
                CommandType = commandType,
                CommandTimeout = taskTimeoutInSeconds, // in secs
                CommandText = commandText
            })
            {
                cmd.Parameters.AddRange(parameters.ToArray());
                //Pass table

[2022-07-04 12:25] mark-raymond commented on #1613
I'm also hitting this (or rather a customer of ours is). We are using Microsoft.Data.SqlClient 4.1.0. The connection string is `Data Source=XXXXX;Initial Catalog=XXXXX;Integrated Security=True;Pooling=False;Trust Server Certificate=True;Application Name="Red Gate Software - SQL Tools"`

[2022-07-04 13:31] MaceWindu commented on #1508
MDC works with SQL Server 2005+

SQL Server 2000 use older protocol and support for it was removed in .net core (you still can connect to SQL Server 2000 using SDC from .net framework).

No idea about v7

[2022-07-04 15:46] JRahnama commented on #1664
@daxu7509 Retry Logic is not compatible with the `CommandBehavior.CloseConnection` . For more information you can look into
 issue #1454.

[2022-07-04 15:53] DLS201 commented on #1530
Hi,
Here is our error message:
`Microsoft.Data.SqlClient.SqlException (0x80131904): Execution Timeout Expired.  The timeout period elapsed prior to completion of the operation or the server is not responding.\n ---> System.ComponentModel.Win32Exception (258): No error information\n   at Microsoft.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__207_0(Task`1 result)\n   at System.Threadin

[2022-07-04 15:53] daxu7509 commented on #1664
oh, dear. I see where you coming from now. @JRahnama

I will remove CommandBehavior.CloseConnection and what happens.

With the  polly retry, as long as I put our things in using bracket, that should still handle all dispose and connection close of SqlConnection, SqlCommand and SqlDataReader? Do I need to do something special?

[2022-07-05 07:37] crydante commented on #886
@hungdqht Do you have any news ? Your hang is still present ?

I had exactly the same problem. My app is on Net Core 3.1 with Entity Framework 6.

Hangs happened sometimes in IIS in production and 70-80% of the threads are waiting here :

" Microsoft.Data.SqlClient.dll!Microsoft.Data.SqlClient.SqlInternalConnectionTds.SyncAsyncLock.Wait(bool canReleaseFromAnyThread = false)"

I had the problem wit

[2022-07-05 11:16] stegl83 commented on #1662
Hi @janseris,

we spend a LOT of hours to get this working.

You have to use certificates, without them there is no connection possible.
This is our way to achieve the successful connection:

Setup the Device and Server
1. create a selfsigned Cert, consider this:
    -  the Flag "CA:TRUE" must be set
    -  set the commonName to the ServerName, <PCName>.<Domain>.local
    - Build a CRT-File and a

[2022-07-05 18:17] Grauenwolf commented on #1009
I ended up building an adapter layer into my ORM, Tortuga Chain. I'm assuming the other ORM developers are going to have to do the same.

[2022-07-06 12:32] sh4d0v1 opened #1668 "Microsoft.Data.SQLClient throws exception trying to access Azure SQL Database"
I am running two .NET6 apps on Linux Azure Web App containers, which need connections to a Azure SQL database.
The first one connects to the DB without problem, the second one, deployed on the same service plan with the same configuration, throws the following generic exception:
[code]

### To reproduce
Not sure how to provide reproducibility as it is a private project.
I myself can't reproduce th

[2022-07-06 13:38] springy76 commented on #593
praying "async all the way down" for 10+ years now - and just letting sit such bugs for 25 months since knowledge - I'm glad npgsql doesn't have this problem and is twice as fast for both small and large varbinaries

[2022-07-06 16:28] Wraith2 commented on #593
The code is all available, feel free to stop waiting and start helping.

[2022-07-07 00:54] markholst commented on #593
Hey @Wraith2, we are very appreciative of your help so far.  I doubt we'd be able to fix this properly, not with the expertise that you have!

If it's a matter of prioritisation, please raise this with your management!  How could we go about pushing this?

(I work in organisations who pay Microsoft a lot of money for support, asking us to fix a vendor's bug is pretty rough.)

[2022-07-07 08:34] holc-tkomp commented on #1418
Could someone tell what issues could be caused by using older versions of `Microsoft.Data.SqlClient.SNI.x86.dll` (e.g. 3.0.0) while still using newer version of `Microsoft.Data.SqlClient.dll` (e.g. 4.1.0)?

I have one test failing due to this access violation within SNI dll crashing the test process and using SNI 3.0.0 instead seems to work (at least for that test). Need to test how it effects eve

[2022-07-07 19:42] airbreather opened #1669 "Reconsider throwing errors by default when the server uses a self-signed certificate"
In 4.0, there was an intentional breaking change to enable encryption by default on connections.  I wholeheartedly appreciate the intent: I truly believe that all internet traffic should be encrypted in transit by default.

Now, as I understand it, SQL Server instances use self-signed certificates by default unless they are intentionally set up otherwise.  As far as I can tell, whenever **any** SS

[2022-07-08 12:22] MarvinNorway commented on #647
I'm intermittently seeing the same issue with a self-hosted SQL Server Instance.

`Microsoft SQL Server 2016 (SP1) (KB3182545) - 13.0.4001.0 (X64)   Oct 28 2016 18:17:30   Copyright (c) Microsoft Corporation  Standard Edition (64-bit) on Windows Server 2016 Standard 6.3 <X64> (Build 14393: ) (Hypervisor) `

The client side uses .NET 4.8 with Entity Framework Core 3.1.5 on Windows 10 Enterprise 21H

[2022-07-08 12:29] ErikEJ commented on #647
@MarvinNorway which Microsoft.Data.SqlClient version - and have you tried 4.1?

[2022-07-08 12:42] MarvinNorway commented on #647
@ErikEJ I see that both Microsoft.Data.SqlClient and Microsoft.Data.SqlClient.SNI are 1.1.1.
Seems like it's ancient. I'll try with a newer version...

[2022-07-08 13:52] MarvinNorway commented on #647
@ErikEJ Upgrading Microsoft.Data.SqlClient to 4.1.0 and Microsoft.Data.SqlClient.SNI to 4.0.0 solved the problem... Thanks.
They were buried among a couple other packages that I can't upgrade, that's why I didn't see that they were so outdated...

[2022-07-11 03:35] #1659 closed

[2022-07-11 21:47] DavoudEshtehari commented on #1668
The exception shows that it's a network thing. So, I'd suggest playing with firewall.

[2022-07-12 08:40] sh4d0v1 commented on #1668
The firewall of the Azure SQL DB is open. The error message also says "**A connection was successfully established with the server**, but then an error occurred during the login process." so the TCP handshake has to have been successful at least, right?

[2022-07-12 09:24] holc-tkomp commented on #1418
The thing is that I get this crash with MDS 4.1.0 w/ MDS.SNI 4.0.0, but it seems to work when using MDS 4.1.0 w/ MDS.SNI 3.0.0 😅

[2022-07-12 18:18] DavoudEshtehari commented on #1662
@janseris were you able to make a connection to server with the provided information above?

[2022-07-12 19:13] janseris commented on #1662
Hi,  I had days off last week. I hope to get to this later this week. I haven't tried yet but saw your tips. Thank you.

[2022-07-12 20:21] sh4d0v1 commented on #1668
Yes, by now I figured there is not much you guys can do without more debug info. I am in contact with the Azure support for some days now, unfortunately yet unsuccessful though.

Maybe less general exceptions would be helpful, right?

[2022-07-12 22:41] DavoudEshtehari commented on #1668
I don't get what you mean exactly. Generally, the first step is finding a way to reproduce an issue for further investigation. The stack trace is the least that we can just give you some guesses. In your case, since you could connect with one of them and the inner exception is a `SocketException` shows it's likely a connectivity issue and you should investigate the Azure logs.

[2022-07-13 08:32] filipnavara opened #1670 "Migrate to NegotiateAuthentication for GSSAPI authentication on .NET 7"
### Is your feature request related to a problem? Please describe.
Currently SqlClient uses custom interop to call into the System.Net.Security.Native interop on .NET Core / 5 / 6. This is an internal API that is not intended for public consumption. It was previously broken on at least one occasion (https://github.com/dotnet/runtime/commit/e334603d8230873b91fde94210acaca19c710e72).  On .NET 7 a ne

[2022-07-13 08:56] chrisjsmith commented on #99
+1 on this issue. We're getting 40,000 timeouts a day from .Net Core processes and latency spikes because this doesn't exist. Any chance of implementing it before the sun explodes?

[2022-07-13 22:00] David-Engel commented on #593
@Wraith2 Which classes would you target for merging in order to unblock work on this issue? We've been doing the "easiest" ones first but we can look at prioritizing those the next time we are able to budget time for code merging.

[2022-07-14 00:41] David-Engel commented on #1669
If you encrypt without validating the certificate, all you are protecting against is eavesdropping. Unless you trust every device between a client and server, you can't be sure one of them isn't proxying your entire conversation and using its own certificate (which you are blindly trusting) to read your data.

This proposal goes backwards and will not pass a security review.

[2022-07-14 03:45] airbreather commented on #1669
Yes, I believe that I have acknowledged this using different words ("packet sniffing" instead of "eavesdropping", "MITM" instead of "proxying your entire conversation [] to read your data").  At least, I sure **hope** that I have...

As a developer who **strictly** works with SQL Server instances that are **strictly** accessible from within our corporate intranet anyway, I don't have a tangible re

[2022-07-14 16:12] JRahnama commented on #1670
@filipnavara thanks for bringing this up. We would love to do so, but there was no proper solution to address the issue. We have some conversations with related teams. We probably wait till Netcoreapp 3.1 is out of support by the end of this year and Net7 GA is released.

[2022-07-15 20:22] AlexZeitler commented on #567
I'm facing the same issue using Xubuntu 22.04

Tried

[code]

and

[code]

I also get:

[code]

I tried `Encrypt=false` in the connection string and I tried `System.Data.SqlClient 4.8.3` as well as `Microsoft.Data.SqlClient 5.0.0-preview3.22168.1`

I've also posted it on [stackoverflow](https://stackoverflow.com/questions/72874044/a-connection-was-successfully-established-with-the-server-but-then-

[2022-07-17 03:38] brandonramosv commented on #916
when I use the Microsoft.Reporting.WebForms library I get the error only when I launch with docker but when I launch it with IIS everything is correct, it seems that a dll is missing in the containers.

the following error is displayed:

Microsoft.Reporting.WebForms.LocalProcessingException: 'An error occurred during local report processing.'
DllNotFoundException: Unable to load DLL 'T2Embed': The

[2022-07-18 16:23] JRahnama commented on #916
@brandonramosv can you provide a sample repro or share your application?

[2022-07-19 09:01] mekk1t commented on #1530
@DLS201 Hello! Any progress on this? I'm encountering the same issue, but on three different occassions. I've documented them as a [question on Stackoverflow](https://stackoverflow.com/questions/73033701/system-data-sqlclient-sqlexception-0x80131904-timeout-expired-three-differen).

[2022-07-19 10:00] dantheman999301 commented on #1530
@mekk1t out of interest, what infrastructure have you got?

We've only ever been able to narrow it down (we think) to a timeout waiting for a connection from the connection pool. That said upping the connection pool amount and timeout seems to make no difference.

[2022-07-19 15:00] jzabroski commented on #97
Incorrect.  Connection pools are per connection string.  e.g., changing the Application Name in the pool will cause a second pool to be created.

What you're describing isn't a client bug, but a bug in `sp_reset_connection` (which the client calls when it fetches a connection from the pool - and the client doesn't need to be the SQL Driver, since [in Java-land, the JDBC driver for SQL Server does

[2022-07-19 15:06] jhudsoncedaron commented on #97
"The transaction isolation level issue with sp_reset_connection was fixed/changed in SQL Server 2014."

It wasn't. I reproduced it on SQL 2014 back when I used to run that.

[2022-07-19 15:26] jzabroski commented on #97
It appears you are right. #96 and #1098 (duplicate) independently verify this on SQL Server 2017 or later.

[2022-07-19 15:40] jzabroski commented on #1157
@aersamkull a simple workaround for your problem is to update the Application Name per App Role via SqlConnectionStringBuilder before instantiating the SqlConnection with the connection string.  This works because Application Name differences force a new connection pool.  However, be careful with pool sizing, especially if you have many app roles, as you can exhaust TCP/IP connections at the OS le

[2022-07-19 18:17] JRahnama commented on #916
@brandonramosv the mentioned `dll` is not related to `SqlClient` driver. Probably you need to look for the owner of that dll and open the issue there.

[2022-07-19 19:40] aersamkull commented on #1157
I see App Roles will not get a lot of love ;) The workaround is ok, however to be really good it would require a way to say "before my first statement do this and that" (OnOpening Event or the like) which would allow turning the app role on - but that's a different topic.
I'm not sure I share the concern about password security, I think if passwords are chosen decently and saved in a secure locati

[2022-07-19 19:40] #1157 closed

[2022-07-19 19:58] lcheunglci commented on #1613
@pengweiqhca @mark-raymond could try out the fix in the PR #1614 and see if it resolves your issue.  The PR is tagged in the upcoming release, but I don't have the test environment with a server with AG to verify it before it can be merged.

[2022-07-19 20:34] jzabroski commented on #1157
Well, it won't be thread-safe, but you can hook into [DbConnection.StateChange](https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnection.statechange?view=net-6.0) event. I would just call whatever delegate you subscribe to that event as very clearly ThreadUnsafe by perhaps giving it such a suffix in its delegate method name.

The other option would be to create a simple DbContex

[2022-07-19 20:35] lcheunglci commented on #1613
The pipeline generated the nuget package from the PR which you can download from here: https://sqlclientdrivers.visualstudio.com/904996cc-6198-4d39-8540-eca72bdf0b7b/_apis/build/builds/51479/artifacts?artifactName=Artifacts&api-version=7.0&%24format=zip

[2022-07-19 20:39] jzabroski commented on #1157
The additional benefit of using impersonation via EXECUTE AS is that you can trivially debug logic based on a mock user context using it. Care should be taken when using NT Authentication, though, as NT Auth-based login tokens do not expire until every session for that Windows SID is expired (read: logged out).  However, the biggest benefit I see is that you can use user name functions to persist

[2022-07-19 22:03] JamesChe91 commented on #1631
Hello, the flags works, thank you very much :bow: , but and for debug, how is it?

[2022-07-20 11:22] massaynus commented on #1631
as mentioned in the [docs](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run#options) you can add a `-c|--configuration <CONFIGURATION> ` flag to specify that

for example: `dotnet run --arch x64 --os linux --configuration Debug`

[2022-07-20 12:41] arthurvaverko-kaltura opened #1674 "Too Many TimerQueueTime objects retained by DBConnectionPool of sqlClient"
We are running an API server that is using Microsoft.Data.SqlClient 4.1.0
The api is async all the way and here is a sample that runs a stored procedure.

[code]

.NET target: Core 3.1

over time with a load of 5K requests per second we are seeing our service ramps up to 80% cpu and then keeps rising even though the load is the same .. until process gets to 100% cpu.
in addition memory keep rising

[2022-07-20 13:25] ErikEJ commented on #1674
What happens if you remove Dapper from your sample code?

[2022-07-20 14:12] joostmeijles opened #1675 "TransactionAbortedException when performing queries in parallel inside a transaction scope"
### Describe the bug
When performing multiple queries in parallel, and each pair of 2 queries are inside a transaction scope, an unexpected transaction error is thrown (see below).

[code]

### To reproduce
Below code reproduces the error. It runs 100K times 2 queries in parallel where each 2 queries are inside a single transaction scope.
Note that after each query the database connection is dispo

[2022-07-20 17:40] JamesChe91 commented on #1631
I'm sorry, I don't make myself understand. I was referring to debuging step by step in vscode at Linux. I get the same error and I'm trying to add the args in the launch.json file, but didn't work

[2022-07-20 18:12] JamesChe91 commented on #1631
I already have the answer.
In the Task.json file add the args
![image](https://user-images.githubusercontent.com/6970430/180052667-a08d7947-951f-4f89-8d96-939a33e7086b.png)

And in the launch.json file add linux-x64 to the program path
![image](https://user-images.githubusercontent.com/6970430/180052972-7de1a4ed-0f56-4987-a4c9-870e8ef0cf35.png)

[2022-07-21 00:42] alvanxp commented on #1663
Hi @JRahnama ,this issue is related to #422 , I changed it to false and now is working fine, thank you so much

[2022-07-21 00:42] #1663 closed

[2022-07-21 18:08] #1454 closed

[2022-07-21 18:55] paulmorrishill commented on #1594
Also experiencing this on AWS RDS instances in multi-az mode - not sure how they have it set up but it seems to be the same issue.

[2022-07-21 19:42] DavoudEshtehari commented on #1674
Closing the issue since it's not a SqlClient issue.
Feel free to reopen it or keep posting here.

[2022-07-21 19:42] #1674 closed

[2022-07-22 00:22] DavoudEshtehari commented on #1675
@joostmeijles Thank you for the repro. I'll back to you if I had any questions to reproduce the issue.

[2022-07-22 09:06] thibault-reigner commented on #1509
For the record I faced the issue as well roughly 2 years ago in an in-house ORM, and I can confirm the issue for the following scenario (which is a bit tricky) + the "fix" I have added to the ORM to circumvent the bug:

I have a set of objects to insert into different tables, which are linked through foreign keys, so I can follow some graph scheduling (insertion into A to be done before B, if a fo

[2022-07-25 02:32] netnr opened #1679 "The GetSchemaTable method returns metadata, and the column IsKey obtained by querying the table sys.columns is wrong?"
[code]
`<PackageReference Include="Microsoft.Data.SqlClient" Version="4.1.0" />`

At present, it is found that the "column_id" column of the "sys.columns" table is returned as the primary key, and other tables are normal

[2022-07-25 09:49] alex-jitbit commented on #1643
Any news regarding this issue? SqlClient is currently unusable on Linux.

[2022-07-25 10:06] Wraith2 commented on #1643
It is usable under some Linux, just not the specific one that you want to use. We need to know why the nuget restore process isn't identifying your distro as Linux and that isn't something that is part of this library. You may need to open an issue on nuget and get their help.

[2022-07-25 17:49] DavoudEshtehari commented on #1613
@pengweiqhca and @mark-raymond could you verify it with the provided NuGet, please?

[2022-07-25 19:24] scott-parkhill commented on #1427
I've just encountered this problem again. Oddly enough, running the program with `dotnet run --arch x64 --os linux` works. However, I could not get the debugger in vs code to work to work with this, so ultimately the previous above solution had to be done again. I don't know why this should have worked though.

[2022-07-25 19:27] mark-raymond commented on #1613
Ah, the issue was hit by a customer of ours, I don't actually have access to the environment myself to test against.

[2022-07-25 21:24] JRahnama commented on #1679
@netnr, I just look into this issue briefly, can you point me to the issue? What values we expect to see and what we get?

[2022-07-25 22:17] alex-jitbit commented on #1643
@Wraith2 wow, OK thanks. Please let me know where should I transfer the issue for you.

[2022-07-25 23:20] netnr commented on #1679
First, ignoring a problem, "sys.columns" is the view

IsKey is the primary key column identifier, but the column_id in "sys.columns" is repeated. If I set "DataTable.PrimaryKey" according to "IsKey" and then fill the data row, there will be a primary key column conflict

@JRahnama

[2022-07-25 23:41] netnr commented on #1679
[code]

`Column 'column_id' is constrained to be unique.  Value '9' is already present.`

[2022-07-26 19:02] rclabo commented on #255
I'm unclear what happened to this?
It seems a much bigger issue then the discussion here indicates.  For example in .Net Core 6 consider the following:

`Select a.fieldOne, a.fieldTwo, b.fieldOne, b.rowVersion
from tableA a
left join tableB b on a.fieldOne = b.fieldOne
where  a.fieldOne = 'HelloWorld';`

In the above code if TableA.fieldOne contain a value for 'HelloWorld' but TableB.fieldOne does

[2022-07-26 19:16] Wraith2 commented on #255
The issue was closed by the changes in https://github.com/dotnet/SqlClient/pull/998 and the behaviour changed. If you want the old behaviour you can use the compatibility context switch `Switch.Microsoft.Data.SqlClient.LegacyRowVersionNullBehaviour` to return to the old way.

Are you saying that the change as discussed and approved/merged isn't not correct? or that you don't like the way the chang

[2022-07-26 19:47] rclabo commented on #255
I appreciate your work on this.  I want the new (ie correct) behavior but am not currently experiencing it.  I'm running Microsoft.Data.SqlClient 4.1 which must be before the fix.  I see on NuGet there is now a version 4.8.3.  That must be the one with the fix?

[2022-07-26 20:32] DavoudEshtehari commented on #1643
Would be related to #1631.

[2022-07-26 21:58] Wraith2 commented on #255
It should be in all current versions, this is quite an old issue.

Can you make your test sql into a small standalone c# test program and open a new issue with it please? that way it will get tracked correctly and be easier to reproduce and possibly fix.

[2022-07-26 23:47] dbrownems commented on #255
I just tested with the repro at the top of this issue.  Using Microsoft.Data.SqlClient 4.1 the behavior is correct, the ROWVERSION is returned as Null.  Using System.Data.SqlClient 4.8.3, the old behavior is the same, the ROWVERSION is returned as an empty byte[].

[2022-07-27 03:20] AraHaan commented on #1631
Also consider updating sql server 2017 to 2019 (it comes with some improvements) and I would wait until 2022 become downloadable without a login to get that one too.

[2022-07-27 16:36] olegkv opened #1682 "Memory leak when an exception is raised during execution of SqlCommand with CancellationToken"
### Description
When using CancellationToken, an exception raised by sqlCommand.ExecuteNonQueryAsync() causes memory leaks.
When not using CancellationToken, an exception raised by sqlCommand.ExecuteNonQueryAsync() does not cause any memory leaks.

### More details about context
When we run a background process which executes sql commands in regular (scheduled) manner (execute-sleep-execute), and

[2022-07-27 16:45] ErikEJ commented on #1682
There is no (4.8.3) version of Microsoft.Data.SqlClient. are you testing against the deprecated System.Data.SqlClient ?

[2022-07-27 16:50] olegkv commented on #1682
Corrected SqlClient version. It is version 4.1.0 of Microsoft.Data.SqlClient.

[2022-07-27 17:31] Wraith2 commented on #255
That is a slightly weird behaviour. That value is null as far as sql is concerned, if you try to datalength or null check it you'll get consistent behaviour for a null value. You should not get an exception when asking for the value through GetSqlBinary

Sql Management Studio uses this library so a change here would also affect it. It may be that management studio isn't prepared for the SqlBinary.

[2022-07-27 17:52] dbrownems commented on #255
BTW `select cast(null as rowversion) rv` will repro this.

[2022-07-27 18:03] ErikEJ commented on #255
SSMS uses System.Data.SqlClient.

(Version 19 in preview uses M.D.S.)

[2022-07-27 18:12] Wraith2 commented on #255
the SqlBinary crash or the 0x in management studio?

[2022-07-27 18:50] rclabo commented on #255
Exactly.  And I think you are being slightly kind :-)

Totally agree.

Here another interesting thing about this case.  Even though `GetSqlBinary` erroneously throws when reading `b_rowVersion`,   using `GetSqlValue` to read it DOES return a null object.  It's this later approach that I resorted to using as a work around.  But clearly `GetSqlBinary` should return `SqlBinary.Null`.

[2022-07-27 19:04] rclabo commented on #255
Wow that's impressive that you were able to boil it down to that.  Very cool.  Now just try to read that in with `GetSqlBinary`.  It does in fact throw I just tried it.

![image](https://user-images.githubusercontent.com/6945499/181352009-334424ad-f7f1-4d14-8af9-986b8172899e.png)

[2022-07-27 19:05] Wraith2 opened #1684 "GetSqlBinary fails with NRE on null rowversion"
Wow that's impressive that you were able to boil it down to that.  Very cool.  Now just try to read that in with `GetSqlBinary`.  It does in fact throw I just tried it.

![image](https://user-images.githubusercontent.com/6945499/181352009-334424ad-f7f1-4d14-8af9-986b8172899e.png)

_Originally posted by @rclabo in https://github.com/dotnet/SqlClient/issues/255#issuecomment-1197249952_

[2022-07-27 19:05] Wraith2 commented on #255
Opened https://github.com/dotnet/SqlClient/issues/1684 to track it.

[2022-07-27 19:45] dbrownems commented on #1684
GetSqlBytes fails too.

[2022-07-27 21:28] DavoudEshtehari commented on #1684
Hi @Wraith2, it seems you hunt a new issue. 😃 We'll be happy to hear you're going to work on it.

FYI, we're supposed to release 3.1.1 hotfix that would be the version used by management studio team, and probably a proposed fix for this issue will include in that hotfix.

[2022-07-27 23:10] Wraith2 commented on #1684
I don't need to hunt for issues, they find me.
In this case it is likely that the original change I made needs to be extended to the SqlTypes. I'll try and have a look at this over the weekend.

[2022-07-28 02:34] tpickard84 commented on #1668
@sh4d0v1 - I'm experiencing this same error with your same specs.  Did Azure support ever back with you? I will try opening a ticket as well, just curious if they were able to resolve the issue for you. Thanks!

[2022-07-28 07:46] chandra-arifin commented on #1412
any solution to this problem?

[2022-07-28 13:28] sh4d0v1 commented on #1668
So glad I am not the only one, proves I am not crazy ;)

The Azure Support was really trying once I got beyond the stages where they just recommend all the stuff from the docs which you mentioned already in the initial ticket as not working, but ultimately wasn't able to help.

Workaround was to just use the Windows based App Service containers and move on...

[2022-07-28 14:36] olegkv commented on #1682
On first glance, it looks like you just need to add
a call to registration.Dispose();
to this catch:
https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs#L2573

Because if BeginExecuteNonQueryAsync throws an exception, ContinueWith (which calls registration.Dispose()) will not be called.
FromAsync documentation:
"The beginMet

[2022-07-28 14:59] olegkv commented on #1682
Same with InternalExecuteReaderAsync, seems like registration.Dispose() is missed in catch:
https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs#L2675

[2022-07-28 15:00] tpickard84 commented on #1668
@sh4d0v1  - wow that's unsettling.

I'll report back here if my Azure support experience goes any differently.

[2022-07-28 17:48] agocke opened #1687 "Microsoft.Data.SqlClient is not compatible with AssemblyLoadContext unloading"
See https://github.com/dotnet/runtime/issues/31377 for context. The fundamental issue is that unloadability is based on GC references, so SqlClient containing a strong references via event handlers and similar. The suggested fix is that for callbacks like the TimerCallback in Microsoft.Data.SqlClient.SqlConnectionFactory, support for listening to the Unload event could be added and these roots cou

[2022-07-29 14:45] ctimmons commented on #1679
Not a bug.

The error occurs because sys.columns has a composite primary key of (object_id, column_id).  The query `"select top 1000 c.name, c.column_id from sys.columns c"` only includes column_id, but not object_id.  Change the query to `"select top 1000 c.name, c.object_id, c.column_id from sys.columns c"` and the error will not occur.

[2022-07-29 21:01] Kaur-Parminder commented on #1682
olegkv Thanks for the Repro, I can see the memory usage going quickly over a GB with tokens option whereas without token it remains under 100 MB even running for few minutes.
![memory_leak](https://user-images.githubusercontent.com/88398605/181840420-8fd8a0a4-40ba-4ed0-94e9-cf8ca148b9fc.PNG)
![no_memory_leak](https://user-images.githubusercontent.com/88398605/181840520-6582ecaf-7d8c-4828-9007-6723

[2022-07-29 22:07] lcheunglci commented on #1687
Thanks for identifying the issue. The MDS team is working on a new release.  I believe someone will follow up with this issue as soon as it's out.  In the meantime, is there a repro sample that I could use to try?

[2022-07-29 23:17] Wraith2 commented on #1687
I have made some changes to help unloading in the past such as https://github.com/dotnet/SqlClient/pull/913 but it needs a specific case to track into and isolate the roots. Without specific guidance on patterns that need to be followed to allow unloadability there's a lot of library to cover.

[2022-07-30 00:12] agocke commented on #1687
@janvorli might have some ideas since he investigated the original bug

[2022-07-30 00:14] Wraith2 commented on #1682
This looks like the probable fix but there is a complication that we must make sure we don't double dispose the registration variable. The registration itself does not report whether it has been disposed so we will need to carry and check that state along with the registration.

[2022-07-30 02:11] netnr commented on #1679
oh composite primary key, thanks
@ctimmons

[2022-07-30 14:07] Wraith2 commented on #1682
@olegkv can you verify if the same behaviour occurs with ExecuteReader? And would you be willing to try some dev builds if I open a PR to address this? There is a way to eliminate quite a few allocations in ExecuteNonQuery that I hadn't got around to doing yet because I'm waiting on source merges between netcore/netfx but it would be good to check if the rewrite I have planned fixes the problem.

[2022-07-30 19:24] cmoski commented on #305
I'm quite interested in this PR -- my use case is as follows.

- I've got a Blazor server side application I want to deploy to a Linux container which connects to a SQL Server using integrated authentication.
- I'd like to use Kerberos, and it does work inside of the container when following the guide specified here (https://www.codeproject.com/Articles/1272546/Authenticate-Net-Core-client-of-SQL-

[2022-08-01 06:30] joostmeijles commented on #1675
@DavoudEshtehari any update on an ETA to verify that this is a bug and get it fixed?

[2022-08-01 13:11] shahid-aman-maersk commented on #647
@MarvinNorway we're using 4.1.0 of SqlClient and Functions V4, deployed to Linux app service , still get this error - what kind of app is yours?
`Microsoft.Data.SqlClient.SqlException:
   at Microsoft.Data.SqlClient.TdsParser.ThrowExceptionAndWarning (Microsoft.Data.SqlClient, Version=4.1.0.0, Culture=neutral, PublicKeyToken=23ec7fc2d6eaa4a5)
   at Microsoft.Data.SqlClient.TdsParserStateObject.Rea

[2022-08-01 15:09] olegkv commented on #1682
@Wraith2 Yes, same issue happens with ExecuteReaderAsync too. That matches with source code for InternalExecuteReaderAsync missing registration.Dispose() call.

Also, you said:
"This looks like the probable fix but there is a complication that we must make sure we **don't double dispose** the registration variable. The registration itself does not report whether it has been disposed so we will nee

[2022-08-01 15:14] olegkv commented on #1682
@Wraith2 Yes, sure I can try some dev builds. Anyone can try it easily, just copy the code from original post above and run it, comment and uncomment calls with token and without token and see the difference.

[2022-08-02 11:41] theplankmeister commented on #1417
@ctse020 I tried downgrading to 1.14, which worked for me. Thanks! I'd been stuck on this for longer than I'd like to admit...

[2022-08-02 13:56] Dean-NC commented on #1108
I strongly agree that Azure and Identity shouldn't be in a base SqlClient library. It's frustrating for me to see the long list of assemblies when I'm only using basic data access with a local SQL Server.

[2022-08-02 18:33] JRahnama commented on #305
@cmoski what PR are we talking about #1411 or some other PR?

[2022-08-02 18:35] AraHaan commented on #1108
Agreed, if I am using a local sql server or an sql server instance on my local network, chances are I do not need to use anything from the Azure SDK (as it is wasted disk space then). Especially if what I am using are:

- EFCore With Stored Precedures, and/or Triggers, and/or also views.

[2022-08-02 18:35] JRahnama commented on #1679
@netnr is the issue solved?

[2022-08-02 19:24] JRahnama commented on #1687
@agocke thank you for opening the issue.
@Wraith2 thanks again for the support. Will you be looking into this issue?

[2022-08-02 22:14] janvorli commented on #1687
The things to look for are:
* TimerCallback instances referencing methods from the Microsoft.Data.SqlClient assembly
* GC handles and static members holding references to objects of types from the Microsoft.Data.SqlClient assembly.
* Threads executing code from the Microsoft.Data.SqlClient assembly at the unload time. E.g. threads that never exit and just loop forever.
* Async methods from the Mic

[2022-08-02 22:51] #1679 closed

[2022-08-03 00:56] leehonys commented on #1412
同样的问题。MAUI 运行调试windows10应用的时候是没问题的，但是运行安卓的时候，就提示：
A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught).
English Message : Connection open error . A connection was successfully established with the server, but then an error occurred during the pre-login handshake.

[2022-08-03 03:26] chandra-arifin commented on #1412
i try MAUI with localhost sql server, but failed too. handshake error . winforms works fine.
BUT MAUI connect to sql azure (No TLS / Security) works fine, with TLS => Error handshake

[2022-08-03 13:41] Palsternakka commented on #1390
I'm having the same issue with a .NET Core app on Xubuntu - as soon as a connection is attempted the app throws a segmentation fault (connection string `Data Source=10.1.3.7;Initial Catalog=CreditsafeProcessing;Integrated Security=true`)

Project is using Microsoft.EntityFrameworkCore.SqlServer version 6.0.7, run using .NET Core version 6.0.302

I've run `kinit` successfully so based on all my rea

[2022-08-03 14:29] Wraith2 commented on #1687
@JRahnama yes I will look into this.
@janvorli that's the sort of information I was looking for. I appreciate that there can't be a definitive list.

[2022-08-03 16:26] JRahnama commented on #1390
@Palsternakka Microsoft.EntityFrameworkCore.SqlServe is using M.D.SqlClient v2.1.4. Can you overwrite the version in the csproj file by adding packageReference to version 4.1? The issue was addressed first in v4.0.1 and is not back ported to previous versions yet.
[code]

[2022-08-04 17:08] rozeboosje opened #1693 "Access Violation in Microsoft.Data.SqlClient.SNI build 5.0.0"
### Describe the bug
Our application - .NET Framework 4.8 - uses Microsoft.Data.SqlClient and this also pulled in Microsoft.Data.SqlClient.SNI build 4.0.0

Checking the NuGet Package Manager for our solution I see there is an upgrade to build 5.0.0 of Microsoft.Data.SqlClient.SNI so I installed that. Upon which the software throws an AccessViolation when opening a connection.

If you are seeing an

[2022-08-04 17:35] ErikEJ commented on #1693
You cannot do that and you should never reference the SNI package explicitly

[2022-08-04 18:03] JRahnama commented on #1693
@rozeboosje as @ErikEJ mentioned you should never reference the SNI package explicitly. Each version of MDS has a dependency to to a specific build of SNI, usually they have the same version number. The SNI v5.0 is released to make it accessible for Microsoft.Data.SqlClient v5.0 which is going to be released today or tomorrow.

[2022-08-04 18:03] #1693 closed

[2022-08-04 18:19] rozeboosje commented on #1693
Yeah that's fair enough and a similar message is shown in the NuGet manager ... but I don't even recall explicitly getting that package. I reckon it automatically got included when I installed the MDS package, but it's presented as a separate package and prompted me to upgrade so I did... would it not be better if MDS and the SNI were released together as part of a single package then? But no worr

[2022-08-04 18:38] ErikEJ commented on #1693
@rozeboosje  I think it is a point in time issue...

[2022-08-04 19:16] DavoudEshtehari commented on #1675
@joostmeijles I confirm it's reproducible with MDS and we'll return to it after the next release. I'm afraid we can't provide any estimation for a fix while it's in the investigation stage. We'll keep updating here with any findings, and we welcome any contribution as this is an open-source driver.

[2022-08-05 05:12] cheenamalhotra commented on #21
@David-Engel @DavoudEshtehari
I wonder if this can be closed since there is no activity or reports of the same?

[2022-08-05 15:59] cmoski commented on #305
@JRahnama [#1379](https://github.com/dotnet/SqlClient/pull/1379)

[2022-08-05 20:54] lcheunglci commented on #1418
The [MDS v5.0.0](https://github.com/dotnet/SqlClient/releases/tag/v5.0.0) just went live, and I tried the 3 sample projects provided here: https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1048797682 , https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1121276135 , and
https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1121359393 and it no longer crashed in the Micro

[2022-08-06 03:23] agclark27 commented on #1418
@lcheunglci We're still seeing the crash in v5.0.0 with the sample projects provided. With [#1418 (comment)](https://github.com/dotnet/SqlClient/issues/1418#issuecomment-1121276135) as an example, it's still crashing on both x32 and x64 as shown below. The reproduction of the crash when using multiple appdomains is pretty consistent, but since most of the repros are console apps, you may not be se

[2022-08-06 05:04] lcheunglci commented on #1418
Sorry, I realized that I was testing a dev SNI build, which worked.  I just re-tried all 3 repro samples again using `v5.0.0` from nuget, and it does continue to fail when multiple AppDomain instances are used.  We'll have to further investigate and get to you soon.

[2022-08-06 13:01] benday commented on #1441
FYI, I tried re-running my repro repo code (https://github.com/benday-inc/Benday.ArmDemo1) using Visual Studio Enterprise 2022 (ARM 64-bit) Version 17.3.0 Preview 6.0.  I'm still getting the same errors.

It would be really nice to be able to work with some kind of SQL Server on ARM64.  @JRahnama, are there any updates you could share on this?

Thanks,
-Ben

[2022-08-07 08:57] hameedshk commented on #1390
After lot of debugging , below code fix works for me in .net 6.0 framework.

Environment - openshift red hat OS and slq server authentication in Kerberos mode

**.csproj change**
`
<PackageReference Include="System.Data.SqlClient" Version="4.8.2" />`

**Program.cs change**
[code]
**Startup.cs change**
[code]

[2022-08-07 19:49] inlineHamed commented on #633
On mcr.microsoft.com/dotnet/aspnet:6.0 docker image, none of above solutions worked, but this worked:
Changing last two line of both /etc/ssl/openssl.cnf and  /usr/lib/ssl/openssl.cnf  into :

[code]

[2022-08-07 20:11] JRahnama commented on #1441
@benday MSSQLLocalDb is not supported on Win11 ARM64 so far. The `SQLUserInstance.dll` l is built for x64 and is not compatible for ARM64 and I am not sure who owns that library.

[2022-08-08 01:39] mabster commented on #1009
Hi @aQsu! I see that v5 was released a few days ago. Did this make the cut? I didn't see a mention of TimeOnly or DateOnly in the release notes.

[2022-08-08 03:37] SimonCropp commented on #1009
@mabster no use of `DateOnly` in the code https://github.com/dotnet/SqlClient/search?q=DateOnly&type=code
so i would assume no

[2022-08-08 06:44] joostmeijles commented on #1675
Changing the pool size to 20 does not change much, but setting it very large (e.g. 1000) seems to prevent the problem.

[2022-08-08 12:09] ArminShoeibi commented on #1108
Hi there, Is it possible for you to Make a PR that we can look at it and help?

[2022-08-08 13:43] Palsternakka commented on #1390
This worked for me, thank you!

[2022-08-08 16:24] JRahnama commented on #1675
@joostmeijles one more question, were you able to see the same problem on Windows 10?

[2022-08-08 18:10] JRahnama commented on #1675
@joostmeijles regarding the comment in the repro
[code]
does this mean if you open a connection first and then try the rest of the code is working fine or just a single connection?

[2022-08-08 23:58] dgxhubbard opened #1697 "Getting MSAL to work with Microsoft.Data.SqlClient to create an azure database on sql server"
We have a desktop app our customers purchase, and some customers want to access azure while running azure ad. We use a DbConnectionInterceptor to determine if azure is used and get the access token. This code is put together from the [WPF app example](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-desktop).  What should the Authentication setting be, for Micros

[2022-08-09 00:03] dattaei-eb opened #1698 "Enabling Long Paths Ignored (Filename or Extension is Too Long)"
### Describe the bug
When attempting to build my microservice I am getting a build error in the form of a dependency filename or extension being too long. This only appears to be happening the DLLs from SqlClient as after enabling "long path" support other issues caused by a long path went away.

In order to fix this issue I have attempted the following:

1. Setting git config --system core.longpa

[2022-08-09 05:49] ErikEJ commented on #1697
What does GetValidatedConnectionString do - looks like Password has been assigned a value

[2022-08-09 06:28] joostmeijles commented on #1675
It means changing the code to:
[code]
does not trigger the error.

[2022-08-09 10:01] Pilchard123 commented on #1009
Of course, that now raises the question "when is it likely to be done"? Is there an agreed API that is just waiting on someone to make a PR, or is it still in the planning stage? Is it something you'd accept a PR for if there was one?

[2022-08-09 10:19] Wraith2 commented on #1009
The discussion above indicates that the expected additional surface area is to GetFieldValue<T> and GetFieldValueAsync<T>. Other places like parameters and the internal SqlBuffer types will need updating to handle the extra data type but those aren't externally visible.

There is currently no build of this library that targets anything beyond netcore 3.1. As soon as there is one then the new funct

[2022-08-09 11:06] joostmeijles commented on #1675
Yes, same.

[2022-08-09 12:45] PeteSL opened #1702 "SQLConnectionStringBuilder 5.0 is not Backwards Compatible"
Pull request 1608 states that the Encrypt property is backwards compatible with boolean interfaces.  It is not.  Microsoft.SqlServer.Management.Smo.Server("servername") constructor is failing with "Method not found: 'Void Microsoft.Data.SqlClient.SqlConnectionStringBuilder.set_Encrypt(Boolean)'." during the construction. This is a bug as 1608 states it is backwards compatible.  Rolling back to 4.1

[2022-08-09 14:52] lcheunglci commented on #1702
Thanks @PeteSL for bringing that up. If you pass the entire connection string into the SqlConnectionStringBuilder constructor, it will do the conversion from `Encrypt=false` to the enum `SqlConnectionEncryptOption.Optional` and from Encrypt=true to `SqlConnectionEncryptOption.Manual` to keep it backwards compatible in that perspective.  It seems that you are explicitly setting it as a `boolean` to

[2022-08-09 14:57] ErikEJ commented on #1702
SMO needs to be updated to support 5.0

[2022-08-09 14:58] PeteSL commented on #1702
@lcheunglci I understand but I have no control over what methods the Microsoft.SqlServer.Management.Smo.Server class calls (Microsoft owns this). Repurposing a property without supporting prior methods is a bad idea, especially when the methods are used by other Microsoft classes.  Until SQLClient or Smo.Server are brought into compliance, I will have to leave SQLClient at 4.1.0.

[2022-08-09 15:28] lcheunglci commented on #1698
Thanks @dattaei-eb for bringing this path length issue to our attention, we'll do some investigation and get back to you soon.

[2022-08-09 15:36] dgxhubbard commented on #1697
GetValidatedConnectionString is part of Microsoft.Data.SqlClient

[2022-08-09 15:53] MichelZ commented on #1697
My guess is by using `ActiveDirectoryIntegrated` auth method as well as manually providing an access token does not mix well together. Use one or the other, but not both

[2022-08-09 16:25] JRahnama commented on #1697
@dgxhubbard as @MichelZ  mentioned mixing these two is not a good idea. The very same process happens underneath to acquire an access token. If you want the driver to be responsible about acquiring tokens and validating their expiry times let the driver do it. Otherwise each token will be expired in about 10 hours and you will need to renew it. So, basically just let the connection string be as it

[2022-08-09 16:30] David-Engel commented on #1702
The intention was to keep the connection string backwards compatible. Meaning if Encrypt is set to either Optional or Mandatory, or False or True, SqlConnectionStringBuilder would emit Encrypt=False or Encrypt=True. I thought I saw functional tests covering that scenario, but obviously it's not working right. We should address it in a servicing release.

[2022-08-09 17:16] ErikEJ commented on #1702
This test passes on latest main:

[code]

[2022-08-09 17:23] David-Engel commented on #1702
That makes me wonder how SMO is calling our methods. There is an implicit conversion defined for SqlConnectionEncryptOption to/from a bool that was meant to cover backwards compatibility.

[2022-08-09 17:25] ajcvickers commented on #1702
It's a binary break, but not a source break. Old code recompiled against the new method will work. Old binaries are bound against the old method signature, and hence will break.

[2022-08-09 17:29] ErikEJ commented on #1702
SMO should update to 5.0 !?

[2022-08-09 17:38] JRahnama commented on #1675
@joostmeijles couple of things I noticed:

1. If we set the pooling to false the issue does not show up (this confirms the issue is with pooling)
2. if you set `SqlConnection.ClearAllPools();` before the second using of `dbConn` your code should be working fine as well.
3. If we start with one connection first and then try to open the rest the connections the issue does not com up.
The above makes

[2022-08-09 18:14] David-Engel commented on #1702
Ah, right. I'll make a change to the release notes to that effect. Thanks!

[2022-08-09 18:28] JRahnama commented on #21
Closing due to inactivity. Feel free to comment if still experiencing the issue.

[2022-08-09 18:28] #21 closed

[2022-08-09 18:37] David-Engel commented on #1675
It sounds to me like your transaction is timing out. With 100,000 parallel operations and a limited connection pool and thread pool, there will likely be a significant delay between the first query completing, the connection closing, and the second connection being obtained from the pool during the transaction. Idle transactions aren't kept around forever. The default transaction timeout is only o

[2022-08-09 19:30] shueybubbles commented on #1702
When we bump SMO's major version (post SQL 2022 GA) we'll also:
https://github.com/microsoft/sqlmanagementobjects/issues/85
https://github.com/microsoft/sqlmanagementobjects/issues/102
https://github.com/microsoft/sqlmanagementobjects/issues/95

[2022-08-10 06:37] joostmeijles commented on #1675
Error possibly occur within seconds, so doesn't seem to hit a timeout.

Creating the transaction scope as follows (as mentioned in the blog post + async option) results in the same error.
[code]

[2022-08-10 06:41] joostmeijles commented on #1675
Without connection pooling (on the connection string or by clearing the pool before the second connection) `System.PlatformNotSupportedException: This platform does not support distributed transactions.` will be thrown immediately.

[2022-08-10 14:08] DLS201 commented on #1530
Hello,
Azure Support just told us that the product group identified the issue and will fix it Q4 2022.

Regards,

[2022-08-10 14:13] BenKmann commented on #275
So i stumbled over this Problem right now.
It seems Microsoft.Data.SqlClient was fixed, but System.Data.SqlClient was not fixed.
System.Data.SqlClient in .NET Core now has a different and wrong behaviour to System.Data.SqlClient in .NET Framework.
Will this bug be fixed for System.Data.SqlClient in the future?

[2022-08-10 14:26] Wraith2 commented on #275
Unlikely. Microsoft.Data.SqlClient supercedes System.Data.SqlClient. You should look into changing your project to use the new library.

[2022-08-10 14:54] ErikEJ commented on #275
@BenKmann what is preventing you from using Microsoft.Data.SqlClient ?

[2022-08-10 16:01] BenKmann commented on #275
Most of our Base-Code-Libraries are for .NET Framework, which only use .NET Framework SQL-Client.
So only some Smaller-Projects use .NET "Core" and these fail now, because the System.Data.SqlClient can't detect Read-Only Columns, like Computed Columns.
So i hoped, because it is not an extension and just a fix, it would get patched to keep the SqlClient at least in "working" state.

But in the futu

[2022-08-10 16:59] JRahnama commented on #1535
@Nico-VanHaaster can you test with the latest release (v5.0) of M.D.S to check if the issue still exists?

[2022-08-10 19:59] JRahnama commented on #1698
@dattaei-eb what version of VS are you using? I tried creating an application, but VS2022 prevented me from doing that indicating that the file name is too long. The length was initially 260 but I reduced it 250 but still no success.

![image](https://user-images.githubusercontent.com/32077152/184008656-efe16d0b-5fe4-4b3e-af0c-fc8bfb8d7f1a.png)

[2022-08-10 20:22] dattaei-eb commented on #1698
Hi @JRahnama, thank you for reaching out!

We're using VS2022, however, it's part of a job being kicked off by a GitHub Action to our build server and it's using the CLI to compile and build.

[2022-08-11 16:28] BenKmann commented on #275
Ah ok it is broken since 4.7.0, so if i use System.Data.SqlClient 4.6.1 i have a working SqlClient.
So if someone else is finding this issue, just use System.Data.SqlClient 4.6.1. This one was working, before the 4.7. update broke it.

[2022-08-11 17:03] roji commented on #275
@BenKmann note that Microsoft.Data.SqlClient supports .NET Framework - you don't have to stay on System.Data.SqlClient just because a project targets .NET Framework.

[2022-08-12 03:53] shueybubbles opened #1714 "Can you remove the dependency on System.Threading.Tasks.Extensions?"
### Is your feature request related to a problem? Please describe.
`System.Threading.Tasks.Extensions` package hasn't been updated since March 2020. It depends on version 4.5.3 of package `System.Runtime.CompilerServices.Unsafe`
Meanwhile M.D.S also has a dependency on `System.Text.Encoding.CodePages` version 5, who has a dependency on `System.Runtime.CompilerServices.Unsafe` version 5.

On Net462

[2022-08-12 11:45] ErikEJ commented on #1714
M.D.S. does not have a direct depedency on the on lib, but Azure.Identity does: https://www.nuget.org/packages/Azure.Identity

[2022-08-12 13:43] shueybubbles commented on #1714
A `PackageReference` to M.D.S pulls in System.Text.Encoding.CodePages via this dependency in its nuspec

[code]
Another source of the CompilerServices.Unsafe 5.0 dependency is this dependency on System.Diagnostics.DiagnosticSource. Azure.Core 1.24 only references 4.6 of S.D.D.

[code]

[2022-08-12 15:26] shueybubbles commented on #1714
Well I did a poor job of looking at the nuspec, some of these dependencies are not part of the netframework4.6.2 group.

The dependency on System.Threading.Tasks.Extensions.dll isn't even listed in the nuspec though the M.D.S.dll binary has a direct dependency on it.

I'm having a difficult time dealing with the nuget warnings with package version downgrades as I am trying to move github.com/micro

[2022-08-12 17:15] JRahnama commented on #1714
@shueybubbles sorry for the hard time. @David-Engel how should we proceed here?

[2022-08-12 17:41] shueybubbles commented on #1714
FWIW turning back on AutoGenerateBindingRedirects for our unit tests appears to fix the build, after upgrading other package references for dotnet system packages from 4.7 to 5.0

[2022-08-12 19:05] David-Engel commented on #1714
@shueybubbles So is there anything MDS needs to do here (or should do)? I'm new to AutoGenerateBindingRedirects but it sounds like it defaults to true and resolves these issues.

The only issue I see might be to add the missing _direct_ dependency on System.Threading.Tasks.Extensions to the nuspec.

[2022-08-12 19:47] shueybubbles commented on #1714
Eventually I'd like to see #1108 implemented such that M.D.S core has as few dependencies as possible.  Many SMO apps in particular never run in an Azure environment so dragging those components into a build just complicates their builds needlessly.
SMO itself has no Azure-related functionality so I'd prefer that the only parts of our source tree that pull in Azure dependencies would be our tests.

[2022-08-12 19:47] #1714 closed

[2022-08-14 01:03] FikretAkin commented on #1662
Hello, I've been dealing with this error for 2-3 days, SQL SERVER 2019 Express is installed and all settings are done, even if I install the certificate, it is not accepted, I am trying to connect with DbCOntext via EF CORE.
Error detail;

`
[System.err] javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.
[System.err]

[2022-08-14 13:03] hameedshk commented on #1390
I did try this because as I see the somewhere in the thread this issue is reported , unfortunately this didn’t work for me , may be I missed something in between

[2022-08-15 08:36] #1635 closed

[2022-08-15 08:43] rafalkwol commented on #1635
It seems the issue is somewhere in the NuGet as I couldn't seem to figure out the source of the issue. I resolved my problem using a different solution so I'm closing this issue.

[2022-08-15 16:58] dargavin opened #1717 "Version 5.0.0 causing permission error reading .config files on Azure"
### Describe the bug
Updating NuGet package from 4.1.0 to 5.0.0 in a .Net 6.0 project, and then deploying to Azure, the web site get a 500 error.

Digging into the app logs it is a generic security error reading config files with the app service principle.  (Using the system generate principle option)

Downgrading just this package back to 4.1.0 in Azure allowed app to function again.
[code]

[2022-08-15 17:53] dargavin commented on #1717
I have one Azure app which is working with SQLClient 5.0.   There are some differences form the two where 5.0 causes a perm issue.  But the notable one is in the Authentication libraries.  So maybe the issue related to a combo of 5.0 and Authentication?

The project with the following nuget's functions okay at 5.0:

<ItemGroup>
    <PackageReference Include="ClosedXML" Version="0.96.0" />
    <Pac

[2022-08-15 18:34] David-Engel commented on #1702
Closing this issue. The backwards compatibility issue is not with MDS connection strings, but with the fact that MDS 5.0 is not binary compatible with existing libraries, like SMO. Their code should be backwards compatible, but they need to be recompiled against MDS 5.0.

[2022-08-15 18:34] #1702 closed

[2022-08-15 19:11] bytefish commented on #1714
I am in the process of migrating an application from .NET Framework to .NET 6 and thought a first step is to move the Data Access into a netstandard2.0 project and use Microsoft.Data.SqlClient.

The .NET 6 project works without a problem, but the .NET Framework 4.8 project crashes, because it fails to load ``System.Runtime.CompilerServices.Unsafe``. I think it’s the same issue @shueybubbles report

[2022-08-15 19:15] shueybubbles commented on #1714
What version of visual studio/msbuild are you using? As part of my upgrade to sqlclient 5 I am moving to msbuild 17 and VS 2022 as well. I think they do a better job of generating binding redirects than older msbuild/vs targets did.

That said - @David-Engel be aware that many other folks who use SMO and Microsoft.Data.SqlClient don't have good dependency management tools available to them. Powers

[2022-08-15 19:28] bytefish commented on #1714
@shueybubbles Thanks for your help.

I am on VS2022 and I guess it’s msbuild 17. I will give AutoGenerateBindingRedirects another try tomorrow. Maybe I did something wrong, I will update this comment if it works.

Is there anything that needs to be done besides activating  AutoGenerateBindingRedirects in the project file and updating the system dependencies to 5.0?

Thanks again.

[2022-08-15 20:58] JRahnama commented on #1717
@dargavin can you provide more detail such as sample app or a repo or an inner exception that indicates this is a M.D.SqlClient issue? We have upgraded the version numbers in our latest release for `Azure.Identity` and `Microsoft.Identity.Client`. Is it possible for you to overwrite those versions in your application and see what happens?

[2022-08-15 21:59] dgxhubbard commented on #1697
@JRahnama When I remove the interceptor, so no asking for a token, and use ActiveDirectoryDefault then my connection string is:

`Data Source=foo.database.windows.net;Initial Catalog=FooDb;Pooling=True;Authentication=ActiveDirectoryDefault`

then I call Migrate to create my database I get the following error

![image](https://user-images.githubusercontent.com/5032382/184724666-0f2fd610-0a63-48a9-8

[2022-08-15 22:13] dgxhubbard commented on #1697
If I use the interceptor, and no Authentication in the connection string my connection string is:

`Data Source=foo.database.windows.net;Initial Catalog=FooDb;Pooling=True;Authentication=ActiveDirectoryDefault`

I get the access token, through interactive, and then get a login error.

![image](https://user-images.githubusercontent.com/5032382/184727059-92df33bf-83d5-44c3-81f2-38ba5790651f.png)

Is

[2022-08-15 22:32] panoskj commented on #593
@David-Engel I want to help with this issue too, so I started merging [TdsParserStateObject](https://github.com/dotnet/SqlClient/pull/1520). But now I am blocked waiting for more feedback from you guys. It has been about 5 months.

You should really prioritize TdsParserStateObject. There is this [small, relatively easy optimization](https://github.com/panoskj/SqlClient/tree/issue/593), which can b

[2022-08-16 01:25] Wraith2 commented on #593
Making the chance netcore only increases the difference between netcore and netfx. Leaving netfx behind isn't feasible because it will continue to be supported for a long time. The move to a single codebase is more important than fixing this issue because it frees up so much time. If it made sense to fix this in netcore only I could have done it but in doing so made the merge of codebases much har

[2022-08-16 09:56] marcomorain opened #1725 "Crash in SNINativeMethodWrapper.SNIOpenSyncEx"
Our Azure App Service is crashing several times per day, and the callstack indicates that SqlClient is the cause. Since the exception is a System.AccessViolationException, we are having a hard time tracking down the cause.

[code]

### To reproduce

We don't have a reproducable test case. We run ~10 instances of this application on an Azure App Service, and the crash happens ~3 times per day.

###

[2022-08-16 15:13] dargavin commented on #1717
@JRahnama The MS Azure team had me open a support ticket on this,   Support request number:	2208160010004040

Hopefully they'll be able to get more diagnostics out of Azure then I can.   The issue is happening at app startup so the stack track I posted is all I was able to get out of Azure.  Far as i could see no inner exception.  It acted similar to a 500.19 error like a bad config file, but was

[2022-08-16 17:05] JRahnama commented on #1725
@marcomorain you are using an older version of M.D.S. The SNI version seems a bit problematic to me and it might be the source of the issue. There is also a 1.1.1 release version for that library and that makes me think upgrading to that version might solve your issue. However all releases after v2.1.4 has a different structure to deal with sni package. You can also test with upgrading the M.D.S v

[2022-08-16 17:10] JRahnama commented on #1725
plus, 1.1.3 is out of support now and we are only supporting 1.1.4 up until November 21st, 2022. Check [here](https://docs.microsoft.com/en-us/sql/connect/ado-net/sqlclient-driver-support-lifecycle?view=sql-server-ver16#microsoftdatasqlclient-release-cadence) for more details.

[2022-08-16 19:26] JRahnama commented on #1535
Closing due to inactivity. Feel free to comment if the issue still exists.

[2022-08-16 19:26] #1535 closed

[2022-08-16 23:16] lcheunglci commented on #1697
Hi, I'm going to try to setup the azure environment and attempt to reproduce this with some of the code you provided and get back to you soon.

[2022-08-17 07:08] JelleHissink commented on #593
I did not dive into your problem, but would two extension functions something like this help:
'''csharp
public static OperationStatus ToOperationStatus(this OperationStatus operationStatus) => operationStatus;
public static OperationStatus ToOperationStatus(this bool legacyResult) => legacyResult ? OperationStatus.Done : OperationStatus.xxx;
'''
You could just slap .ToOperationStatus() on all func

[2022-08-17 07:18] panoskj commented on #593
@JelleHissink there are other ways to fix the problem as well (e.g. without changing the return type at all), but still, extensive changes throughout both files will be required.

The root of the problem is that the original authors of the library tried to adapt the sync code path for async use, while making as little changes as possible. As a result, async performance suffers greatly. There is no

[2022-08-17 07:24] JelleHissink commented on #593
I am happy there are still people working on this 😄

I understand that it is difficult, but I accidentally have already run into this problem using EF core many times, just add a memo field to any entity and you will have to dig through all code that accesses this, change it from async to sync.
Somehow I consider this being one of the biggest problems but still this issue remains a bit quiet.

I e

[2022-08-17 07:32] panoskj commented on #593
The issue is basically blocked, because there are two versions of the same files: netcore and netfx. As @Wraith2 explained, until these files have been merged into one version, any changes to them will make the merging significantly harder.

As for a workaround, I was able to configure EF Core so that it uses a custom DbDataReader, where I have overridden the async read methods to use sync under t

[2022-08-17 07:46] Wraith2 commented on #593
[code]
You can't write your `ToOperationStatus` function and get the new functionally that we want, the function has to be able to return 3 real values and mapping it to 2 results in the existing functionality. The point of changing the return type is to be able to distinguish between 3 return values `{success, need more data, failed}` rather than just `{success, failed}`

[2022-08-17 15:47] marcomorain commented on #1725
Thanks @JRahnama . I'll do the upgrade and see if it affects the crash.

[2022-08-17 17:06] lcheunglci commented on #1418
I did some research and found the difference between my local environment and the environment on the pipeline that generates the SNI GA build.  I found out that I was using an older version of the Windows 10 SDK `10.0.19041.0` and the pipeline vm has all the versions of the Window SDK installed including the latest i.e. `10.0.22000` and the SNI project does not only references `Windows 10` SDK wit

[2022-08-17 17:30] HamsterExAstris commented on #1418
Thanks for the information on the cause.

This would specifically only impact the _SNI_ package/build, correct? So v3.1.1 of MDS built 5 days ago works, because the SNI package wasn't revved? (It's still using v3.0.0 from June 2021.)

[2022-08-17 18:16] lcheunglci commented on #1418
Yes, this only impacts the SNI nuget package, but from my knowledge, it usually released in sync with a MDS release.

[2022-08-18 01:02] HamsterExAstris commented on #1418
Yes, SNI releases are (usually) synced to an MDS release, but not every MDS release has an SNI release. None of the 3.x or 4.x MDS patches have a corresponding SNI release, just 3.0.0, 4.0.0, and 5.0.0.

[2022-08-18 08:57] ExtSolTech commented on #1479
I was runned in this issue for both System.Data.SqlClient Microsoft.Data.SqlClient on Android 11.0 - API 30.
Encrypt, TrustServerCertificate and MultiSubnetFailover flags set to true are not helped for me.
On Windows work as expected.

[2022-08-18 09:27] ExtSolTech commented on #1656
Is found any soultion someone?

[2022-08-18 10:56] janseris commented on #1656
@ExtSolTech No and there is even worse problem with SQL Server Express 2019 - follow here and you can try their suggestion what to test so they can continue
https://github.com/dotnet/SqlClient/issues/1662

[2022-08-18 11:59] Kvasi commented on #1445
I have the same problem and have been trying to get around it by setting CheckCharacters = false, but the new XmlReader still gets CheckCharacters = true
[code]

[2022-08-18 14:21] mhlindstr commented on #1643
When publishing a project depending on `System.Data.SqlClient` on Linux with .NET 6.0.108, we seem to end up with the stub `System.Data.SqlClient.dll` (which always throws the platform exception) and platform-specific artifacts in the `runtimes` directory.

When then running the application using the .NET 6.0.8 runtime, for some reason, the stub `System.Data.SqlClient.dll` is loaded at execution,

[2022-08-18 15:31] dgxhubbard commented on #1697
@lcheunglci thanks I appreciate it

[2022-08-18 18:34] JRahnama commented on #1717
@dargavin can you guide me step by step to make a simple application similar to what you have so I can start investigating it?

[2022-08-18 19:36] johngwood commented on #1530
@DLS201 any chance you have more information on this? Maybe a link to a bug or something? We are investigating this issue currently and would like to know what MSFT knows...

[2022-08-19 06:36] robsaa commented on #1530
I am having the exact same issue with this setup:

Microsoft.Data.SqlClient version: 4.1.0
.NET target: .NET 6.0
SQL Server version: Microsoft SQL Server Standard (64-bit) 15.0.2070.41
Operating system: Docker Container running on linux - mcr.microsoft.com/dotnet/aspnet:6.0

[2022-08-19 10:47] eshmurus opened #1731 "InvalidOperationException: Internal connection fatal error when calling SQL2022 from Linux docker container"
I am trying to connect to sql2022 from a docker Linux container and am getting the error as described below. This code is working fine with sql2019

Docker Linux container: base image is aspnet:6.0
SQL Server: Windows Server 2022 Standard (10.0), Version is 16.0.700.4

Version of System.Data.SqlClient is 4.8.3

code:
[code]

stack trace:
[code]

P.S. Microsoft.Data.SqlClient (5.0.0) doesn't work a

[2022-08-19 15:53] lcheunglci commented on #1731
Hi @eshmurus , can you provide us with the connection string?

[2022-08-19 19:26] alex-jitbit commented on #1643
@Wraith2 Like you suggested I tried creating an issue with the nuget, but they said the problem is with SqlClient, not nuget (see their response in the linked issue)

Again, to recap:
- some (!) linux distros throw this error (AlmaLinux, Rocky Linux, RedHat)
- this worked fine in .NET 5

[2022-08-19 21:57] lcheunglci commented on #1697
I've been trying to set up the environment but I don't seem to have the proper access to create an azure app and my azure account does not have proper access for Azure Active Directory to follow some of steps. According to the [ADO.NET docs](https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentica

[2022-08-20 07:09] eshmurus commented on #1731
@lcheunglci Hello,

`"data source=xxxx\\MSSQLA;initial catalog=master;user id=xxxx;password=xxxx;Integrated Security=False;Persist Security Info=False;multipleactiveresultsets=True"`

[2022-08-20 19:11] FikretAkin commented on #1662
@janseris
Hi thank you,
Let's face it, we will now provide a solution with the RESTFULL API.

[2022-08-21 06:41] taspeotis commented on #1445
@Kvasi The problem with that approach is `reader` has to read from `reader_org` which is not able to read the XML generated by SQL Server. At a pinch you can get your hands on a `TextReader` and create the `XmlReader` yourself:

[code]

Whether the underlying `TextReader` implementation is particularly async or not I'm unsure but if you need an `XmlReader` you can get it this way.

[2022-08-21 14:29] koolinoor opened #1732 "i'm confused.."
is that supposed to be like a new System.Data.SqlClient ? or why does it share the same namespace,
except have a tons of unnecessary assemblies attached to it?

congrats!

[2022-08-21 23:07] nNabakhteveli commented on #1479
Thanks, I added TrustServerCertificate=True; to the connection string and it worked

[2022-08-22 00:28] taspeotis commented on #1732
Not sure the premise of this question is correct - it's a different namespace. This is `Microsoft.Data.SqlClient` which is not shared with `System.Data.SqlClient` by virtue of being different.

[The dependencies](https://www.nuget.org/packages/Microsoft.Data.SqlClient#dependencies-body-tab) are pretty normal for a Microsoft package, pulling in other Microsoft packages.

There's a discussion about

[2022-08-22 06:21] ErikEJ commented on #1732
System.Data.SqlClient also had many dependencies, but they were part of .NET Framework installed on every Windows machine.

[2022-08-22 09:24] vonzshik opened #1733 "Unable to connect to SqlServer instance with managed SNI and Timeout=0 on SqlClient 5.0"
### Describe the bug
While attempting to establish the connection to SqlServer instance while having `Timeout=0` in the connection string the app becomes unresponsive. I'm able to reproduce this problem on linux and windows with `AppContext.SetSwitch("Switch.Microsoft.Data.SqlClient.UseManagedNetworkingOnWindows", true)`. It works fine on SqlClient 4.1.0.

### To reproduce

[code]

### Expected be

[2022-08-22 09:35] jehelles commented on #1418
Please backport to 4.0 as well, as we cannot uptake a non-LTS release.

[2022-08-22 09:37] vonzshik commented on #1733
Just tested, changing that part of code like this makes it work:

[code]

[2022-08-22 13:04] morvoso commented on #1643
I'm getting this issue with PopOS 22 ( which is based on ubuntu I believe ).  I specify the RID and it still appears.  All my other code works fine except for this SqlClient package.

[2022-08-22 13:38] ErikEJ commented on #1732
Please adhere to the code of conduct.

[2022-08-22 14:22] lcheunglci commented on #1733
Thanks @vonzshik for bringing this to our attention. We'll have to discuss with the team and see if this is the desired behaviour or a regression and get back to you soon.

[2022-08-22 16:18] #1732 closed

[2022-08-22 17:25] roji commented on #1732
Seems like this is largely a duplicate of #1108

[2022-08-22 18:08] lcheunglci commented on #1697
@dgxhubbard  Quick question: have you tried connecting using [Microsoft SQL Server Management Studio](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16)? I got a similar error when my account wasn't added to the external provider list and also when I didn't have specify the database that I had access to.
![failed-to-login](https://user-image

[2022-08-22 18:38] JRahnama commented on #1725
@marcomorain any update on this issue?

[2022-08-22 20:15] dgxhubbard commented on #1697
@lcheunglci I have access through SSMS without problems. I am including a full sample here. I am using MSAL and I get the access token and set it  in the SqlConnection. I can create this database on a local sql server. When I try on my azure sql server, that is mixed mode, and has a azure ad admin I get an error unable to login with principal:

`Login failed for user '<token-identified principal>'

[2022-08-22 21:40] lcheunglci commented on #1697
Hi @dgxhubbard, thanks for sharing the repro code sample.  I'll need to spend some more time to investigate.

[2022-08-22 21:58] lcheunglci commented on #1731
Thanks for providing the connection string.  I'll have to setup my environment and see if I can reproduce this. In the meantime, do you have the stack trace for the `Microsoft.Data.SqlClient` (5.0.0) exception?

[2022-08-22 21:59] dgxhubbard commented on #1697
Hi @Icheungcli all good

[2022-08-22 22:02] JRahnama commented on #1697
@dgxhubbard I saw some mixed references of `Microsoft.Data.SqlClient` and `System.Data.SqlClient`. Can you manually change them all to `Microsoft.Data.SqlClient` and make a direct reference to `Microsoft.Data.SqlClient v5.0` in your csproj to override any other existing versions of M.D.SqlClient to see the outcome please?

[2022-08-22 23:06] dgxhubbard commented on #1697
@JRahnama replacing the using statements and adding Microsoft.Data.SqlClient had the same result.
The migrate runs produces lots of sql exceptions, and login fails. Adding new code here to make sure I did this right.

[CoreWpf.zip](https://github.com/dotnet/SqlClient/files/9398149/CoreWpf.zip)

[2022-08-23 06:24] eshmurus commented on #1731
@lcheunglci stack trace:
[code]

As I already mentioned, the test code above works with SQL2019, but doesn't with SQL2022. The problem is reproduced only from Linux container - from Win docker container and from local win machine all work.

[2022-08-23 06:55] ErikEJ opened #1736 "Inconsistent documentation"
The docs for `Host Name In Certificate` seems to not follow the standard version indication pattern used in the connection string docs:

![image](https://user-images.githubusercontent.com/4169187/186090951-ecf112a8-a0f2-42d0-a3a9-e820c50a0ecb.png)

https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlconnection.connectionstring?view=sqlclient-dotnet-standard-4.1

[2022-08-23 07:01] ErikEJ opened #1737 "Use better link for AAD auth"
Currently the "Authentication" keyword links to this page: https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlconnection.connectionstring?view=sqlclient-dotnet-standard-4.1

I think it would be much more helpful with a link to https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver16 - but the page above does not even

[2022-08-23 07:39] mruf commented on #1643
I have the same issue after updating to the latest version of PopOS 22.04:

`System.PlatformNotSupportedException: Microsoft.Data.SqlClient is not supported on this platform`

Microsoft.Data.SqlClient is the latest version 5.0.0.

Here's my SDK and runtime versions:

`6.0.108 [/usr/lib/dotnet/dotnet6-6.0.108/sdk]`

`Microsoft.AspNetCore.App 6.0.8 [/usr/lib/dotnet/dotnet6-6.0.108/shared/Microsoft.A

[2022-08-23 08:13] mruf commented on #1643
I got it working by doing the following (based on steps from here: https://github.com/dotnet/core/issues/7699)

1. `sudo apt remove dotnet*`
2. `sudo apt remove aspnetcore*`
3. Create file:  `sudo touch /etc/apt/preferences`
4. Add the following contents to the file:

Package: *
Pin: origin "packages.microsoft.com"
Pin-Priority: 1001

5. 'sudo apt install dotnet-sdk-6.0'

This will install a newer

[2022-08-23 15:41] dargavin commented on #1717
@JRahnama With Help of MS Azure support got the issue figured out.  What was happening is the version 4.1 was allowing DB connection string with a typo in the user id (App serv user did not match app name) to still function somehow.

The 5.0.0 package actually corrected that, and it was throwing a ManagedIdendity not found error behind the scenes.

So issue is resolved, though why 4.1 version was

[2022-08-23 16:23] JRahnama commented on #1717
@dargavin we are glad to here that the issue is solved. I will look into the PRs for v5.0 and also fixes in Azure.Identity and Microsoft.Identity.Client as well to see where the issue got addressed and will comment it here.

I am closing this issue as it is solved. Feel free to comment here if the issue still exists.

[2022-08-23 16:23] #1717 closed

[2022-08-23 16:24] JRahnama commented on #1737
Thanks @ErikEJ. We will look into this.

[2022-08-23 16:25] JRahnama commented on #1736
@ErikEJ do you mean the section for v5.0 is not added to the documentation?

[2022-08-23 16:30] ErikEJ commented on #1717
@dargavin can you give an example of a "bad" connection string?

[2022-08-23 16:30] lcheunglci commented on #1736
I think @ErikEJ means changing the `Available starting in version 5.0.` in `HostNameInCertificate` to `(Only available in v5.0+)` to keep it consistent with the existing 2 entries for `FailoverPartnerSPN` and `ServerSPN`.

[2022-08-23 16:58] ErikEJ commented on #1736
@lcheunglci Exactly!

[2022-08-23 17:08] JRahnama commented on #1736
We did not have those features, HNIC or new Encrypt options, in v4.1. Should that show on that version's documentation at all?

[2022-08-23 17:19] ErikEJ commented on #1736
@JRahnama maybe not. But seems like a minor point In time issue.

[2022-08-23 18:09] JRahnama commented on #1737
@ErikEJ The Authentication keyword from VS? Where is that Keyword located?

[2022-08-23 18:54] ErikEJ commented on #1737
Sorry - link is from the ConnectionString docs, the Authentication keyword.

[2022-08-23 20:30] dbeavon commented on #1530
@DLS201 do you have a scope?  Does it happen for any .net client code running anywhere in Azure?

In my case I'm having tons of problems getting a .Net solution running in Spark for Synapse.

I'm opening a support case as well.  But you could save us all many, many days of time with CSS if you would point us in the right direction.  Generally CSS seems to not be highly technical, and they seem jus

[2022-08-24 19:07] JRahnama commented on #1725
Closing the issue due to inactivity. Feel free to comment if you are experiencing the issue.

[2022-08-24 19:07] #1725 closed

[2022-08-24 19:08] JRahnama commented on #1698
@dattaei-eb this looks like by design and there is nothing we can do about this.

[2022-08-24 19:10] JRahnama commented on #1643
@alex-jitbit does the provided solution work for you?

[2022-08-24 19:26] koolinoor commented on #1732
You know fuck that! Fuck you, your political correctness, and your cursory fanboys.
There are about 400M downloads of System.Data.SqlClient.. 400 apps relying on this SLA.
Now why do you have to take a perfectly functioning, isolated and independent component;
And mix it up with the rest of your shit-sauce?!
What about the S in SOLID?
Should have known better, and gone with the Java from the get g

[2022-08-24 19:31] ajcvickers commented on #1732
@koolinoor Your comment has been deleted since it does not adhere to the [code of conduct](https://dotnetfoundation.org/about/code-of-conduct) for this repo.

[2022-08-24 19:35] lcheunglci commented on #1697
Hi @dgxhubbard , I didn't manage to get the `common` tenant to work, but I manage to retrieve the access token using my own `Directory (tenant) id` but I had to go through the `PublicClientApp.AcquireTokenInteractive` instead of `PublicClientApp.AcquireTokenSilent` and change the exception handle logic as an empty `firstAccount` throws an `AggregateException` instead of a `MsalUiRequiredException`

[2022-08-24 21:13] dgxhubbard commented on #1697
Hi @Icheunglci, the AcquireTokenSilent does not fail over with the MsalUiRequiredException, it just fails when firstAccount is null. That is why I changed the code to:

`
            IAccount firstAccount;

            var accountResult = PublicClientApp.GetAccountsAsync ();
            if ( accountResult == null )
                throw new NullReferenceException ( "FAILED to get accounts" );

[2022-08-24 22:00] tanukus commented on #916
@brandonramosv Are you able to resolve this issue. We have same issue with Windows Server Core 2019 Container image.?

[2022-08-25 03:50] gshzr opened #1740 "Maui andriod use microsoft.data.sqlclient report error 35"
### Describe the bug
A clear and concise description of what the bug is.
★sql :Microsoft SQL Server 2012 (SP4) (KB4018073) - 11.0.7001.0 (X64)   Aug 15 2017 10:23:29   Copyright (c) Microsoft Corporation  Standard Edition (64-bit) on Windows NT 6.3 <X64> (Build 9600: ) (Hypervisor)
★bug:
		$exception	{Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established wit

[2022-08-25 10:31] joe-green-uk opened #1741 "System.AccessViolationException at SNIOpenSyncExWrapper"
### Description
When connecting to a SQL instance in Azure App Services if the connection fails we don't get a graceful connection error but we recieve the following exception.

This code is .NET Framework 4.8
Deployed to Azure App Services

[code]

### To reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fra

[2022-08-25 12:04] ThreeSevenths commented on #1741
Also receiving a similar AccessViolation exception connecting to Local SQL 2019 Developer Edition installation. .NET Framework 4.7.2 using nuget package version 2.1.4. SNI package version 4.0.0

[code]

[2022-08-25 14:19] joe-green-uk commented on #1741
This looks to be an issue when I use a DNS instead of an IP address. For example when I connect to a random IP address and port combination (e.g. 192.168.2.50,5122) I get the anticipated exception of

`System.Data.SqlClient.SqlException (0x80131904): A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible.

[2022-08-25 14:27] nikhilgoud commented on #814
Any update on this ?
I've got this error in AWS Lambda

`
ErrorMessage : Cannot access a disposed object. Object name: 'System.Net.Sockets.Socket'. . Details: . at System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, Int32 optionValue) at System.Data.SqlClient.SNI.SNITCPHandle.Receive(SNIPacket& packet, Int32 timeoutInMilliseconds) at System.Data.Sq

[2022-08-25 15:47] lcheunglci commented on #1740
I think this might be a duplicate of #1656

[2022-08-25 16:56] lcheunglci commented on #1697
Unfortunately, the azure setup process is something out of scope for what our team is able to provide and I had to use a pre-configured setup from our tests instead of my own app as it's a bit complicated.  I feel like this is a login issue with MSAL than with SqlClient itself as once the AccessToken is provided in the connection string successfully, I was able to run the migration.  Perhaps you c

[2022-08-25 16:59] lcheunglci commented on #1731
Hi @eshmurus are you able to connect when you switch from using a named instance to use the hostname/ip and port number in your connection string in MDS?

[2022-08-25 17:06] dgxhubbard commented on #1697
Thanks @lcheunglci I will give it a try, I can't even get azure assistance with the issue.

[2022-08-25 18:27] JRahnama commented on #1741
@joe-green-uk this error as @lcheunglci mentioned is usually based on a mismatching between SNI library and M.D.S versions, in other words you are using a `Microsoft.Data.SqlClient.SNI` library which is not built for the in-use version of `Microsoft.Data.SqlClient`.
Can you delete all M.D.S from your code (probably uninstall, clean your code) and reinstall M.D.S and let it decide about SNI version

[2022-08-25 18:29] JRahnama commented on #1740
closing as a duplicate of #1656. Please follow the issue on that thread. If you think this is a separate issue feel free to open a new issue.

[2022-08-25 18:29] #1740 closed

[2022-08-25 18:35] ThreeSevenths commented on #1741
Thank uoi @JRahnama and @lcheunglci for your replies. Can we update the dependency information and setting a max version of Microsoft.Data.SqlClient.SNI to prevent this issue from coming up? Currently the dependency requires >= 2.1.1 and specifies no maximum version.

[2022-08-25 19:05] ErikEJ commented on #1741
Nuget will never pick a major Dependency version afaik

[2022-08-25 21:33] MisinformedDNA commented on #26
Any updates?

[2022-08-25 22:17] David-Engel commented on #1697
@dgxhubbard

Is there a reason you need to use the DbConnectionInterceptor at all? Are there Azure AD authentication methods you need in your app that are not already built-in to M.D.SqlClient using the Authentication= keyword? (For reference, see [Using Azure Active Directory authentication with SqlClient](https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authenticat

[2022-08-25 22:26] JRahnama commented on #1741
@ThreeSevenths Correct M.D.S 2.1.4 requires >= 2.1.1 for SNI, but SNI packages are not to be consumed by the users. Driver decides on the dependency.  If you look into our [2.1 servicing branch for SNI version](https://github.com/dotnet/SqlClient/blob/db7f4517094df974dc09e9c3db9897bbbb8744c9/tools/props/Versions.props#L15) it will look for SNI v2.1.1 to build the driver and also in [nuspec for sni

[2022-08-25 22:29] JRahnama commented on #1737
@ErikEJ thanks for continuous support on the driver.

I am closing this as the PR has been merged, but the documentation will be updated probably on our next release.

[2022-08-25 22:29] #1737 closed

[2022-08-25 22:29] JRahnama commented on #1736
@ErikEJ thanks for continuous support on the driver.

I am closing this as the PR has been merged, but the documentation will be updated probably on our next release.

[2022-08-25 22:29] #1736 closed

[2022-08-26 00:11] dgxhubbard commented on #1697
Using SqlClient with setting Authentication to "Active Directory Interactive" was one of my first attempts, but I could not get it working. Then found MSAL after Azure Identity, and MSAL has superseded Azure Identity. MSAL manages the token, and caches it so you can most of the time silently get the token. That almost works, but the problem is the first time you get the token the call to the silen

[2022-08-26 00:17] dgxhubbard commented on #1697
I am trying to find the source of the error. Is it my setup of the Azure sql server and Azure Ad, or is it something wrong in the code. The documentation of connecting to azure sql server is somewhat confusing, so that is why the setup could be wrong. On top of that the changes to the API in the last two years adds to the problem. There are many references for connecting to an existing database, b

[2022-08-26 00:58] JRahnama commented on #1731
@eshmurus I tested on Unix machine and it worked fine. Is this only happening on docker then? if so, can you try a simple console app to open a connection to SqlServer 2022 on the docker image please?

[2022-08-26 01:00] JRahnama commented on #1731
One more thing to make sure, this is not a `SqlLocalDB` or one of the shared instances. Correct?

[2022-08-26 05:09] ErikEJ commented on #1736
You are welcome. Always happy to help improve the driver and the UX.

[2022-08-26 10:10] ErikEJ opened #1743 "Crash with 5.0.0 when DacFx is referenced"
Error:

[code]

Project file:

[code]

Program.cs:

[code]

Non-failing cases:

[code]

[code]

Could be related to the fact that DacFx includes a Microsoft.SqlServer.Types.dll file, but I am just guessing here.

@dzsquared What are the plans for adopting SqlClient 5 in DacFx?

[2022-08-26 10:30] janseris commented on #1662
@FikretAkin thank you for tip but currently I am not planning this solution because this is a very expensive workaround.

[2022-08-26 11:07] ThreeSevenths commented on #1741
This is what I did try initially, removing it and adding it again which is when I found myself on 4.0.0. I was _not_ able to repro it and as everyone has mentioned, nuget picked the correct SNI dependency version for me on the second installation. I do not know why it chose 4.0.0 the first time.

Thank you all for your time and attention, I appreciate it!

[2022-08-26 11:10] ErikEJ commented on #1741
@ThreeSevenths @joe-green-uk Are you using package.config - if so, strongly recommend switching to PackageReference

[2022-08-26 11:15] ThreeSevenths commented on #1741
I am, unfortunately 🙁 and it's not something I can switch at the moment without opening a can of worms.

[2022-08-26 11:46] ErikEJ commented on #1741
@ThreeSevenths Why not - you can also use PackageReference with the old .csproj format....

[2022-08-26 12:07] ThreeSevenths commented on #1741
@ErikEJ next week is my last week in my current position and with my current company. Switching a key aspect of the project I am working on is not something I think is a good idea since I won't be around to support it. 🙂

[2022-08-26 13:55] dzsquared commented on #1743
There will be a DacFx preview out with SqlClient 5 this fall - we're narrowing down the date now.

[2022-08-26 17:10] JRahnama commented on #1743
@ErikEJ should I transfer this to DacFx repo?

[2022-08-26 18:03] ErikEJ commented on #1743
Not sure. I am not calling any DacFX code...

Seems more like dll hell v2.

[2022-08-26 18:52] cheenamalhotra commented on #1743
The issue is due to type conflict as MDS 5 now uses types from MS.SqlServer.Server namespace.
That's why apps cannot take both DacFx and MDS 5 dependencies at the same time, until new version of DacFx is released.

Since work is acknowledged and in progress, its a matter of time!

[2022-08-26 18:54] JRahnama commented on #1741
@ThreeSevenths seems like there is not much we can do here. If the issue is resolved/answered feel free to close it.

[2022-08-26 18:57] JRahnama commented on #1698
I am closing this issue as it seems by design. Feel free to open a new issue or comment here if you still think this should not happen and we can reopen this.

[2022-08-26 18:57] #1698 closed

[2022-08-26 19:00] ErikEJ commented on #1743
@cheenamalhotra thanks. That was also my understanding.

My real app actually depends on EF Core 7 which in turn depends on MDS 5.

Fingers crossed for a compatible DacFX  release before November.

[2022-08-26 19:00] #1743 closed

[2022-08-26 19:01] JRahnama commented on #1668
@tpickard84 and @sh4d0v1 any update on the issue with Azure support? Is the issue resolved?

[2022-08-26 19:04] JRahnama commented on #1664
Correct. The `Using` block will take care of disposing and closing the connection and command.

Closing the issue due to inactivity. Feel free to open a new issue or comment here if there are more to discuss.

[2022-08-26 19:04] #1664 closed

[2022-08-27 00:36] ThreeSevenths commented on #1741
Nothing to do, it's working as intended and the problem was somewhere between the keyboard and the chair. I did not open the issue in the first place; unfortunately, I cannot close it.

[2022-08-27 02:58] gshzr opened #1745 "I think this might be a duplicate of #1656"
I think this might be a duplicate of #1656

_Originally posted by @lcheunglci in https://github.com/dotnet/SqlClient/issues/1740#issuecomment-1227454284_

it's not work

[2022-08-27 02:59] gshzr commented on #1740
it's not work the problem still show 35 error

[2022-08-27 03:00] gshzr commented on #1740
it's not work the problem still show 35 error

[2022-08-27 03:01] gshzr commented on #1740
i try the mthod ,it's not work the problem still show 35 error

[2022-08-28 12:49] Cantaria commented on #1423
I've 2 computers which i use to develop.

Computer A is a freshly installed Linux Mint Vanessa and installed .Net 6.0.8 (runtime + SDK) with installed Entity-Framework Tools 6.0.8:
If i run `dotnet ef database update` i'm getting the System.PlatformNotSupportedException.
Adding Migration worked fine.

Computer B is an updated system from Ubuntu 20.04 to Ubuntu 22.04. It also has updated Net 5.0.11

[2022-08-28 15:31] ErikEJ commented on #1423
@Cantaria what SDK versions on computer A?

[2022-08-28 16:06] Cantaria commented on #1423
Hi @ErikEJ

That are the ouputs from bash:

clemens@MasterPC:~$ dotnet --list-sdks
6.0.108 [/usr/lib/dotnet/dotnet6-6.0.108/sdk]
clemens@MasterPC:~$ dotnet --list-runtimes
Microsoft.AspNetCore.App 6.0.8 [/usr/lib/dotnet/dotnet6-6.0.108/shared/Microsoft.AspNetCore.App]
Microsoft.NETCore.App 6.0.8 [/usr/lib/dotnet/dotnet6-6.0.108/shared/Microsoft.NETCore.App]

[2022-08-28 17:59] alex-jitbit commented on #1643
@JRahnama I will run my tests and get back to you.

[2022-08-29 14:57] JRahnama commented on #1423
@Cantaria  I think [Microsoft.EntityFrameworkCore.Design](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Design/6.0.8) is needed as well.

[2022-08-29 15:00] JRahnama commented on #1745
@gshzr  Can you follow the issue on the original one and close this one please?

[2022-08-29 15:00] ErikEJ commented on #1423
@Cantaria I think you need a newer SDK

[2022-08-29 15:00] JRahnama commented on #1741
@joe-green-uk any update on the issue?

[2022-08-29 15:22] Cantaria commented on #1423
@ErikEJ this is the newest version i'm getting from the ubuntu repositories. :(
After the Update to 22.04 i've had to disable to Microsoft-repositories due conflicts.

![image](https://user-images.githubusercontent.com/7793709/187236261-82b9ffee-dd93-499b-8f45-053dd059954b.png)

[2022-08-29 15:28] ErikEJ commented on #1423
@Cantaria is this related? https://github.com/dotnet/core/issues/7699

[2022-08-29 19:51] joarath commented on #1731
We're having the same issue for one of our developers. The same repo runs on two of the developer's machines but not the third. The only difference that we've found in our setups is that one dev is using a named instance. The one using a named instance is having issues.

Sql Client:  Microsoft.Data.SqlClient 5.0.0
SQL Version: 15.0.2095.3
Docker Image: mcr.microsoft.com/dotnet/aspnet:6.0

Stack Tr

[2022-08-29 20:01] joarath commented on #1731
Rolling back Microsoft.Data.SqlClient to 4.1.0 fixed it for us.

[2022-08-30 02:15] chandra-arifin commented on #1662
i know the security of "direct" communicate with SQL Server Database. but we just "connect" locally, and no security issues here with small team like me. and too expensive with Restfull API, because we are not big team or corporate.
so maybe someone can fixed this bug? please

[2022-08-30 02:25] chandra-arifin commented on #1656
so, it works with sql server 2012 ? if so, then just install sql server 2012 ;p

[2022-08-30 02:33] ProVega commented on #1418
Same repro on Windows 10 running IIS and Visual Studio 2022 17.3

Faulting application name: w3wp.exe, version: 10.0.19041.1, time stamp: 0x58c67bf3
Faulting module name: Microsoft.Data.SqlClient.SNI.x64.dll, version: 4.0.0.0, time stamp: 0x61953095
Exception code: 0xc0000409
Fault offset: 0x000000000001c80c
Faulting process id: 0x5fb4
Faulting application start time: 0x01d8bc175b0cab6c
Faulting a

[2022-08-30 02:36] ProVega commented on #1418
Any progress on this? On my local dev system (Windows 10) I am experiencing both the memory leak (insufficient memory for query in pool "default").

[2022-08-30 05:10] davhdavh commented on #1418
Any news on this? Isn't it same bug as https://github.com/dotnet/SqlClient/issues/1687?

[2022-08-30 05:20] janseris commented on #1656
With SQL Server 2012, it doesn't work on Android 8.1 and lower. With SQL Server Express 2019, it doesn't work on any version.

[2022-08-30 05:31] chandra-arifin commented on #1656
what a pity, maybe in the future, someone will fixed this bugs. or create another package to connect to android. just like jtds on java, can connect to android from that library.

[2022-08-30 05:59] eshmurus commented on #1731
@joarath @JRahnama @lcheunglci thanks for help, finally, I solved the problem. If the connectionString contains port number and  `TrustServerCertificate=True` then connection passed.

[2022-08-30 06:27] SRMITGit commented on #1427
I'm running Manjaro and this problem keeps occurring. Thankfully I can use @ConductorPete, @scott-parkhill , and importantly @JRahnama 's instructions (delete the old versions first) to fix the issue.

[2022-08-30 06:32] lcheunglci commented on #1418
I'm not sure if this will resolve the memory leak that you're encountering, but for the SNI crash fix is currently in review and once it's merged, it will be included in the next 5.0 hotfix release.

No, #1687 is a different issue and the fix from here won't resolve the unloading issue.

[2022-08-30 13:22] mhlindstr commented on #1643
I believe the issue may be related to missing RIDs, such as for Rocky Linux, in the runtime. I've opened PR dotnet/runtime#74164 for Rocky Linux on the 6.0 servicing line.

[2022-08-30 15:21] Cantaria commented on #1423
Hi @ErikEJ ,

i have now installed the dotnet from the PMC like in the link. It seems that everything has worked (now i have version 6.0.400)

I can build and run my App, but i can't run **dotnet ef database update**

I've installed dotnet ef with
`dotnet tool install --global dotnet-ef`

If i run it, i get the following output:

[code]

Maybe if it's help, the output from **dotnet --info**:
[code

[2022-08-30 15:24] ErikEJ commented on #1423
@Cantaria Please open a new issue in the EF Core repo, this seems very off topic here.

[2022-08-30 16:19] JRahnama commented on #1643
@Alex-Sob the part that the assembly is loaded from bin/runtimes is expected.

[2022-08-30 16:32] #1733 closed

[2022-08-30 17:48] Alex-Sob commented on #1643
@JRahnama Yes, But question is - does that make sense that after build bin folder contains stub assembly that contains only code throwing `PlatformNotSupportedException`? Why not copy assembly for the current platform/architecture?

[2022-08-30 18:02] mhlindstr commented on #1643
@Alex-Sob Because the stub assembly is the fallback in case the .NET runtime's RID inference logic fails, i.e. it doesn't find any specific runtime implementation of the assembly at hand. In the current state of things, there is a gap in .NET 6.0 in the sense that Rocky Linux (and I assume Alma as well) are not supported by the runtime identifier detection logic.

Effectively, depending on the pla

[2022-08-30 18:12] JRahnama commented on #1741
Closing the issue due to inactivity. Feel free to comment or open a new issue if the the problem still exists.

[2022-08-30 18:12] #1741 closed

[2022-08-30 18:13] JRahnama commented on #1745
Closing as duplicate. Please follow the progress and comments on the main issue.

[2022-08-30 18:13] #1745 closed

[2022-08-30 18:24] JRahnama commented on #814
@nikhilgoud based on the trace you are using System.Data.SqlClient and that library is in servicing mode and is not taking any fix. Can you try with Microsoft.Data.SqlClient please?

[2022-08-31 06:19] #1731 closed

[2022-08-31 07:27] mhlindstr commented on #1643
P.S. This mechanism is in fact what enables applications to be distributed while targeting several runtime platforms. You can of course override the RID during publishing (e.g. linux-x64), but in that case, the application will only run on that specific platform.

[2022-08-31 21:36] 4ndrewburrow commented on #262
I am experiencing this issue. I am using a .Net Standard 2.0 library referencing nuget packages:

Microsoft.EntityFrameworkCore (3.1.24)
Microsoft.EntityFrameworkCore.Abstractions (3.1.24)
Microsoft.EntityFrameworkCore.Analyzers (3.1.24)
Microsoft.EntityFrameworkCore.Design (3.1.24)
Microsoft.EntityFrameworkCore.SqlServer (3.1.24) (**which has a dependency on Microsoft.Data.SqlClient 1.1.3**)
Micr

[2022-09-01 02:04] binki commented on #1065
I was hoping I could rely on `SqlDataReader.ReadAsync()` sending the attention to the server, but it looks like I have to manually keep track of `SqlCommand` and call `SqlCommand.Cancel()` prior to disposing any reader until this bug is fixed. Thanks for the guidance!

[2022-09-01 06:39] ErikEJ commented on #262
@4ndrewburrow you can just add an explicit reference to a newer version

[2022-09-01 17:09] dargavin commented on #1717
@ErikEJ
Server=tcp:oha-hsd-sqldb-dev-01.database.usgovcloudapi.net,1433;Database=CompassSurvey;User ID=oha-survey-dev;Authentication=Active Directory Managed Identity

where ;User ID=oha-survey-dev needs to be removed in 5.0.0 even though that matches the app service name/system assigned principle.  Worked okay 4.1, but also ntoices that in 4.1 it accepted a typo in user id.  So 4.1 seemed to be i

[2022-09-02 16:21] beginner1010 commented on #1668
I am getting almost the same stack trace as @sh4d0v1 got. However, when I rerun it works fine for the whole day. So, in my case, the first try to connect to Azure SQL after a couple of hours of being idle is an issue.

I use a retry policy. I plan to increase the delay (between retries) to see if it resolves the issue 🤞. Also, I will increase the timeout in the SQL connection string from 30 secs t

[2022-09-02 16:58] JRahnama commented on #1636
@ErikEJ I am closing this as I think we have updated the board. Let us know if there is something missed in the process.

[2022-09-02 16:58] #1636 closed

[2022-09-02 17:57] JRahnama commented on #1640
@mcavanagh I am closing this as this is not in our plan yet. We may come back to this later if more people from community request the feature.

[2022-09-02 17:57] #1640 closed

[2022-09-02 17:59] JRahnama commented on #1627
Closing the issue as there is nothing much could be done from this library. Feel free to make a PR for any suggested solution.

[2022-09-02 17:59] #1627 closed

[2022-09-02 18:00] JRahnama commented on #1594
Closing this as the PR #1614 was merged. Feel free to comment or open a new issue if you are still experiencing the problem.

[2022-09-02 18:00] #1594 closed

[2022-09-02 18:01] JRahnama commented on #1561
@vasicvuk can you try with the latest release of the driver (v5.0) and see if the issue still happens?

[2022-09-02 18:03] JRahnama commented on #1549
Closing due to inactivity. Feel free to comment or open a new issue if it still exists.

[2022-09-02 18:03] #1549 closed

[2022-09-02 18:05] JRahnama commented on #1501
Closing the issue as the fix was released in the GA.

[2022-09-02 18:05] #1501 closed

[2022-09-02 18:08] JRahnama commented on #1456
Closing this issue as our latest supported version for 2.1 is patch number 4. Please try with 2.1.4 or any newer version. Feel free to open or comment if the issue still exists.

[2022-09-02 18:08] #1456 closed

[2022-09-02 18:11] JRahnama commented on #1487
@Ryba1986, I think the issue is addressed with the latest release of M.D.SqlClient v5.0. Closing the issue as fixed. Please feel free to open a new issue or comment here if you still see the problem.

[2022-09-02 18:11] #1487 closed

[2022-09-02 18:26] JRahnama commented on #1415
Closing due to inactivity. Feel free to open a new issue or comment here if you are still experiencing the issue.

[2022-09-02 18:26] #1415 closed

[2022-09-02 18:34] JRahnama commented on #1063
Closing this issue as external please follow the progress roslyn page [here](https://github.com/dotnet/roslyn/issues/53736)

[2022-09-02 18:36] JRahnama commented on #972
Closing this as PR #897 was merged. Feel free to open a new issue if the concern is not addressed yet.

[2022-09-02 18:36] #972 closed

[2022-09-02 18:45] CyrusNajmabadi commented on #1063
The issue here is that MS.Data.SqlClient is in the index, but is much lower priority, so it is filtered out compared to System.Data.SqlClient.  We do this because some types show up in tons of packages due to users just including copies of things.  We don't want the user to get spammed with lots of irrelevant hits, so we order based on magnitude of importance.  It looks like MS.Data.SqlClient is o

[2022-09-03 16:55] luanmm commented on #1427
It's a problem that I'm getting here too. I already had it working on Ubuntu 22.04 LTS, but something happened after a system update. Running with `dotnet run --arch x64 --os linux` works, but its not a solution, nor even a workaround (at least in a development environment). Tried to clean the environment and install the latest .NET 6 (6.0.108), event with the new dotnet6 package of APT, but the r

[2022-09-04 01:21] beginner1010 commented on #1668
Update: After changing my retry policy (which now will wait 1 * 6 seconds, 2 * 6 seconds, 4 * 6 seconds & retry, and so on instead of 1 second, 2 seconds, 4 seconds, etc. delays), it proceeds to work fine. Note that still I'm getting an exception error on the first try but this time, the retry policy is not getting trapped in the "pool blocking period".

[2022-09-04 12:13] ErikEJ commented on #1651
Unimportant

[2022-09-04 12:13] #1651 closed

[2022-09-05 09:06] stevetalkscode commented on #30
I have seen that the SQL Server team now have a preview of a newer version of Microsoft.SqlServer.Types that is now compatible with .NET Standard 2.1 ( [https://www.nuget.org/packages/Microsoft.SqlServer.Types/160.900.6-rc0)](https://www.nuget.org/packages/Microsoft.SqlServer.Types/160.900.6-rc0)).

Are there plans to update System.Data.SqlClient or will this only be supported in Microsoft.Data.Sq

[2022-09-05 14:01] dotMorten commented on #30
@stevetalkscode Not really _that_ great. There's a runtimes folder in there indicating it still only supports Windows x86 and x64. No ARM64 support, nor ios, android, macos or linux support.

[2022-09-05 15:48] stevetalkscode commented on #30
I did a quick proof of concept using @ErikEJ's latest RC package (see https://github.com/ErikEJ/EntityFramework6PowerTools/issues/103)  and using the SqlTypes 16 RC in a .NET 6 console app running on WSL and got a DbGeography written to a SQL database which would normally fail (with the could not load DLL error)

[2022-09-05 16:44] dotMorten commented on #30
@stevetalkscode I decompiled the library and I still see a large amount of calls into native code for lots of spatial operations. The serialize/deserialize is all in managed code, so that should just work as you found.  Try for instance calling `BufferWithCurves` on WSL and I'll bet it'll fail.

[2022-09-05 17:25] ErikEJ commented on #30
@dotMorten But an Improvement on Windows where you got the error in the OP until now.

[2022-09-05 19:48] stevetalkscode commented on #30
Fair point. I hadn't got as far as testing those bits yet.

[2022-09-05 20:34] danielmeza commented on #793
Yup! I dit it!

[2022-09-06 18:09] #1063 closed

[2022-09-06 20:14] David-Engel commented on #1751
Transferred to the SqlClient repo for followup.

[2022-09-07 02:24] wbalzer opened #1752 "Unable to load SQLUserInstance.dll from the location specified..."
I have LocalDB installed with Visual Studio 2022 on Windows 11 (ARM).   I have no issues creating databases or using SSMS.  However using the package manager to run:

`Update-Database`

I get the following error.   It appears that the tools are expecting a valid Win32 application... which it I would expect would work because Visual Studio works fine in Windows 11 (ARM).   I have a MacBook Pro - M1

[2022-09-07 07:50] qizu0302 opened #1753 "Microsoft.Data.SqlClient 4.1.0 error - provider: SSL Provider, error: 0 - The target principal name is incorrect"
I met this
_SqlError: 'A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Provider, error: 0 - The target principal name is incorrect.)'    Source: 'Framework Microsoft SqlClient Data Provider' Number: -2146893022 State: 0 Class: 20 Procedure: '' LineNumber: 0 Server: 'sql'_
when I establish a connection from SharePoint to

[2022-09-07 13:52] JRahnama commented on #1753
@qizu0302 most probably the certificate is not made correctly.

1. Subject should be the FQDN of the machine. You can define other or friendly names as extensions.
2. System.Data.SqlClient and Microsoft.Data.SqlClient are client side libraries, so SQL server cannot use either of them. SSMS 18 is using S.D.SqlClient while SSMS 19 has switched to M.D.SqlClient.
3. As a test set the `Force Encryption

[2022-09-07 14:01] JRahnama commented on #1752
`LocalDB` is not fully supported on `Windows11 ARM64` and there are other users having the same problem on Windows 11. This is not `SqlClient` issue. The `SQLUserInstance.dll` is installed while you install `SQLLocalDB`. To give more  detail on this, the mentioned dll is made for x64 architecture, thus is not compatible on ARM 64. You may contact SQL server team for further information. See [this

[2022-09-07 14:01] #1752 closed

[2022-09-07 16:24] JRahnama commented on #1561
Closing due to inactivity. Feel free to comment here or open a new issue if the the issue is still happening.

[2022-09-07 16:24] #1561 closed

[2022-09-07 16:27] JRahnama commented on #1612
@AraHaan These concerns are addressed in net 6 PR #1704. The obsolete values are only related to net6 and are still good in netcoreapp3.1. Closing the issue as the PR is under review.

[2022-09-07 16:27] #1612 closed

[2022-09-08 00:57] qizu0302 commented on #1753
Previously SharePoint used S.D.SqlClient, but I'm working on replacing the lib with M.D.SqlClient now, so I need to verify my work. I use sql server 2019 with version 15.0.4223.1 and SSMS 18 in my lab.

Below is my self-signed cert, sql server's fqdn is 'sql.contoso.local'
![cert](https://user-images.githubusercontent.com/103396968/189010104-a09683b3-0e3e-410c-a732-aebd1d12107d.PNG)

Given the con

[2022-09-08 03:33] JRahnama commented on #1753
@qizu0302 SQL Server 2019 uses TDS protocol to communicate with drivers such as M.D.SqlClient or S.D.SqlClient or JDBC or other drivers. It does not uses client side library. However, SSMS 18 is using S.D.SqlClient on the background to get connection from SQL Server and SSMS 19 is using M.D.SqlClient for that matter. S.D.SqlClient is in servicing mode and is not accepting fixes or adding new featu

[2022-09-09 18:16] itadapter commented on #1521
We spent the whole day trying to understand the same issue.
Not sure why this issue is closed but the package does not work properly.

Confusion started back in 2018 with `System.Data.SqlClient.dll` and continues on with `Microsoft.Data.SqlClient.5.0` package to this day (Sep 2022).

**The build system is not putting proper DLL in the \bin folder**. Why? We are targeting Net6.0 and upgraded to Mic

[2022-09-09 18:41] Charles-Gagnon opened #1758 "Starting multiple transactions in separate threads causes unexpected behavior"
### Describe the bug

If multiple transactions are started in separate threads, but using the same connection, then you can end up with multiple transaction objects. This is unexpected since normally if you try to begin multiple transactions on the same connection it throws an InvalidOperationException.

### To reproduce

This results in no errors being produced and both tables being created.

[co

[2022-09-09 19:10] christianfosli commented on #1427
See-also: https://github.com/dotnet/SqlClient/issues/1423
(seems like the same issue, but that one is still open, so perhaps it's more likely to be noticed)

[2022-09-09 21:41] luanmm commented on #1423
People in EF Core repo says its not a problem in its side. People in SqlClient repo says it is. Definately there is a problem loading some libs here or in EF Core.

A clue (maybe) from my side: in the latest versions of .NET SDK, the runtime identifier of the global binary was stated (in `dotnet --info` output) as "ubuntu.22.04-x64" in my environment. My guess is that SqlClient (or EF Core, but IM

[2022-09-09 22:45] Wraith2 commented on #1423
SqlClient relies on package restore process to identify the correct binary to include in the output directory. If you get the wrong version then things won't work. The fact that there are separate per-system binaries is unfortunate but is not going to change any time soon. I understand that people want it to "just work" but there isn't really anything that can be changed in this library to fix the

[2022-09-10 00:02] luanmm commented on #1423
@Wraith2 thanks for the clarification. Could you please give any clue on where to report this error, then? Maybe its not even an EF Core or SqlClient error, but it should be reported to a team that can work on it (now or in the future). I really don't know the deeper mechanisms of the libraries to have this answer.

Today, this kind of thing pushes me away from SQL Server (the need to manually spe

[2022-09-10 00:21] anwarulmustafa commented on #1412
My connection string is working with windows but with android have the same error
**A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)**
Nothing is working with me. Please help

[2022-09-10 01:05] Wraith2 commented on #1423
You always have to do this, and always have had to on netcore. This is not new. The netfx version was windows only so it always just worked.

As for who to report it to I don't know. If possible I'd say open a support issue then there is some form of SLA attached to it.